In [ ]:
print("ansh if")

ansh if

In [ ]:
a=1
print(a)

1

In [ ]:
1number=1
print(1number)

SyntaxError: invalid decimal literal (ipython-input-2231984477.py, line 1)

In [ ]:
False=1
print(False)

SyntaxError: cannot assign to False (ipython-input-4099992671.py, line 1)

In [ ]:
xbgdfjDGFj=726
nhbdajKJNd=26
abcedjnfkm=xbgdfjDGFj*nhbdajKJNd
print(abcedjnfkm)

18876

In [ ]:
x=726
y=26
z=x*y
print(z)

18876

In [ ]:
payment_per_day=726
days_of_working=26
total_salary=payment_per_day*days_of_working
'''hghgjfhggf
hggj
hgjh'''
print(total_salary)

18876

In [ ]:
x='welcome'
print(type(x))

<class 'str'>

In [ ]:
y=1234
print(type(y))

<class 'int'>

In [ ]:
v=True
print(type(v))

<class 'bool'>

In [ ]:
c=3+4j
print(type(c))

<class 'complex'>

In [ ]:
deci=23.32
print(type(deci))

<class 'float'>

In [ ]:
int(deci)

23

In [ ]:
float(y)

1234.0

In [ ]:
round(deci)

23

In [ ]:
l='hello'
k='miss'
j=l+k
print(j)

hellomiss

In [ ]:
h='1254'
f=1236
s=int(h)
q=f+s
print(q)

2490

#**String**

## string as array

In [ ]:
x='array'
print(x[2])

r

In [ ]:
x='hello programmer'
print(len(x))           #space also count

16

In [ ]:
y="hello,let's start coding"
print('start' in y)

True

In [ ]:
print('an' not in y)

True

## slicing

In [ ]:
ab='hy my name is python'
print(ab[2:10])

 my name

In [ ]:
ab='hello python'
print(ab[1:])

ello python

In [ ]:
a='hello, world!'
print(a[-5:-2])

orl

In [ ]:
a='hy python'
print(a.upper())

HY PYTHON

In [ ]:
b='hello, python'
print(b.replace('h','j'))

jello, pytjon

In [ ]:
a='hello and hi world!'
print(a.split('and'))

['hello ', ' hi world!']

In [ ]:
s=' hello, world! '
print(s.strip())

hello, world!

## string format

In [ ]:
age=36
txt='my name is john,and i am {}'
print(txt.format(age))

my name is john,and i am 36

In [ ]:
amt=5000
order=375
quantity=5
myorder='i want {} of my order {} for {} rupees'
print(myorder.format(quantity,order,amt))

i want 5 of my order 375 for 5000 rupees

In [ ]:
txt= 'we are the so called \"vikings\" for the north'
print(txt)

we are the so called "vikings" for the north

## python booleans

In [ ]:
print(10==10)
print(10<9)
print(0)

True
False
0

In [ ]:
x=200
print(isinstance(x,str))
print(isinstance(x,int))

False
True

# **Operators**

## arithematic operator

In [ ]:
x=4
y=8
import operator
operator.add(x,y)

12

In [ ]:
operator.sub(x,y)

-4

In [ ]:
x=5
y=2
operator.pow(x,y)

25

In [ ]:
a=25
b=6
operator.truediv(a,b)

4.166666666666667

In [ ]:
a=25
b=6
operator.floordiv(a,b)

4

## assignment operator

In [ ]:
a=25
b=14
operator.iadd(a,b)

39

In [ ]:
a=25
b=14
operator.isub(a,b)

11

In [ ]:
a=25
b=14
operator.imul(a,b)

350

## logical operator

In [ ]:
a=10
v=20
a>12 and v>30         #both are true,both are false

False

In [ ]:
a=10
v=20
a<12 or v>30          #atleast one is true

True

In [ ]:
a=10
not a>20

True

## identity operator

In [ ]:
a=25
b=23
operator.is_(a,b)

False

In [ ]:
a=25
b=23
operator.is_not(a,b)

True

## membership operator

In [ ]:
nums=(1,2,3,4,5)
operator.contains(nums,4)

True

In [ ]:
nums=(1,2,3,4,5)
not operator.contains(nums,9)

True

# **Lists**

we use squared bracket

In [ ]:
fruits=["apple","banana","kiwi","orange"]
print(fruits)

['apple', 'banana', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
print(fruits[2])

kiwi

In [ ]:
fruits=["apple","banana","kiwi","orange"]
print(fruits[1:3])

['banana', 'kiwi']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
print(fruits[-2])

kiwi

In [ ]:
fruits=["apple","banana","kiwi","orange"]
print(fruits[:3])

['apple', 'banana', 'kiwi']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits[1]='mango'
print(fruits)

['apple', 'mango', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits[1:3]="grape","draganfruit"
print(fruits)

['apple', 'grape', 'draganfruit', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits.insert(2,"cherry")                    #insert a new item, we can specify index
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits.append('cherry')                     #add a new item, it will be in last
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'cherry']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits2=["mango","pineapple"]          #extend the current list
                                       #we can use tuple or set
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'mango', 'pineapple']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits.remove('kiwi')             #specified value remove
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits.pop(2)                     #specified position remove
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
fruits=["apple","banana","kiwi","orange"]
fruits.clear()
print(fruits)

[]

# **Tuple**

we use open bracket, these are unchangeable

In [ ]:
fruits=('apple','orange','grape','banana','cherry')
print(fruits)

('apple', 'orange', 'grape', 'banana', 'cherry')

In [ ]:
fruits=('apple','orange','grape','banana','cherry')
print(len(fruits))

5

In [ ]:
fruits=('apple','orange','grape','banana','cherry')
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits=('apple','orange','grape','banana','cherry')
print(fruits[1])

orange

In [ ]:
fruits=('apple','orange','grape','banana','cherry')
(red,yellow,pink,black,blue)=fruits
print(red)

apple

# **Sets**

unordered, unindexed, unchangeable.
Written with curly brackets.

In [ ]:
fruits={'apple','orange','grape','banana','cherry'}
print(fruits)

{'orange', 'apple', 'grape', 'banana', 'cherry'}

In [ ]:
fruits={'apple','orange','grape','banana','cherry'}
fruits.add('pineapple')
print(fruits)

{'orange', 'pineapple', 'apple', 'grape', 'banana', 'cherry'}

In [ ]:
fruits={'apple','orange','grape','banana','cherry'}
mylist=('kiwi','draganfruit')
fruits.update(mylist)
print(fruits)

{'orange', 'draganfruit', 'apple', 'grape', 'kiwi', 'banana', 'cherry'}

In [ ]:
set1={'a','b','c','d'}
set2={1,2,3,4}
set3=set1.union(set2)
print(set3)

{1, 'b', 'd', 2, 3, 4, 'a', 'c'}

In [ ]:
set1={'a','b','c','d'}
set2={1,2,3,4}
set1.update(set2)
print(set1)

{1, 'b', 'd', 2, 3, 4, 'a', 'c'}

In [ ]:
x={'apple','mango','grape'}
y={'kiwi','cherry','mango'}
x.intersection_update(y)
print(x)

{'mango'}

In [ ]:
x={'apple','mango','grape'}
y={'kiwi','cherry','mango'}
z=x.intersection(y)
print(z)

{'mango'}

In [ ]:
x={'apple','mango','grape'}
y={'kiwi','cherry','mango'}
x.symmetric_difference_update(y)
print(x)

{'grape', 'cherry', 'apple', 'kiwi'}

In [ ]:
x={'apple','mango','grape'}
y={'kiwi','cherry','mango'}
z=x.symmetric_difference(y)
print(z)

{'grape', 'cherry', 'apple', 'kiwi'}

# **Frozenset**

In [ ]:
x=(1,2,3,4,5,6,7,8)
fx=frozenset(x)
print(fx)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

# **Dictionaries**

these store values in key- value pair.
Dictionaries are written with curly brackets, and have keys and values.dictionary is a collection which is ordered, changeable and does not allow duplicates.

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 2004}

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
print(cars['model'])

2nd series

In [ ]:
x=cars.get('brand')
print(x)

BMW

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', 2004])

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
cars['year']=2023
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', 2023])

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
cars['color']='blue'
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', 2004, 'blue'])

In [ ]:
y=cars.items()
print(y)

dict_items([('brand', 'BMW'), ('model', '2nd series'), ('year', 2004), ('color', 'blue')])

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
cars['year']=1998
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 1998}

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
cars.update({'year':1998})
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 1998}

In [ ]:
cars={'brand':'BMW',
      'model':'2nd series',
      'year':2004}
x=cars.copy()
print(x)

{'brand': 'BMW', 'model': '2nd series', 'year': 2004}

In [ ]:
friends={'child1':{
    'name':'abi',
    'year':2000},

         'child2':{'name':'rino',
         'year':2001},

         'child3':{'name':'aju',
         'year':2002}
         }
print(friends)

{'child1': {'name': 'abi', 'year': 2000}, 'child2': {'name': 'rino', 'year': 2001}, 'child3': {'name': 'aju', 'year': 2002}}

In [ ]:
child1={
    'name':'abi',
    'year':2000}

child2={'name':'rino',
         'year':2001}

child3={'name':'aju',
         'year':2002}
friends={'a':child1,
         'b':child2,
         'c':child3}

# **Conditional statements**

In [ ]:
a=20
b=200
if b>a:
print('b is greater than a')

IndentationError: expected an indented block after 'if' statement on line 3 (ipython-input-3134007963.py, line 4)

In [ ]:
a=20
b=200
if b>a:
 print('b is greater than a')

b is greater than a

In [ ]:
a=20
b=20
if b>a:
    print('b is greater than a')
elif a==b:
  print('a and b are equal')

a and b are equal

In [ ]:
a=299
b=300
if a>b:
  print('a is greater than b')
elif a==b:
  print('a and b are equal')
else:
  print('a is less than b')

a is less than b

In [ ]:
a=299
b=300
print('A') if a>b else print('B')

B

In [ ]:
a=33
b=330
print('a') if a>b else print('j') if a==b else print('c')

c

In [ ]:
a=200
b=99
c=300
if a>b and c>a:
  print('both conditions are true')   #code will execute when both the statements are true.

both conditions are true

In [ ]:
a=200                 # will execute when one condition true.

b=99
c=300
if a>b or c<a:
  print('atleast one of the condition is true')

atleast one of the condition is true

In [ ]:
x=41
if x>10:
 	 	print("Above ten,")
if x>20:
  	print("and also above 20!")
else:
 print("but not above 20")

Above ten,
and also above 20!

In [ ]:
a=300
b=230
if a>b:
  pass

In [ ]:
mark=int(input("enter: "))

password: 26

In [ ]:
mark=int(input("Grade: "))
if mark>=90:
  print('A+')
elif mark>=80:
  print('A')
elif mark>=70:
  print('B+')
elif mark>=60:
  print('B')
elif mark>=50:
  print('C+')
elif mark<50:
  print('fail')

Grade: 87
A

# **Looping statement**

## while loop

In [ ]:
x=0
while x<5:
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
x=5
while x<10:
  print(x)
  x=x+2

5
7
9

In [ ]:
x=0
while x<5:
  print(x)
  x=x+1
  continue

0
1
2
3
4

In [ ]:
x=1
while x<5:
  print(x)
  x=x+1
  break

1

In [ ]:
x=0
while x<5:
  print(x)
  x=x+1
else:
  print('no break')

0
1
2
3
4
no break

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=="p":
    x=x+1
    continue
  else:
    print(a[x])
    x=x+1

l
o
o

i
n

y
t
h
o
n

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=="p":
    x=x+1
    continue
  else:
    print(a[x])
    x=x+3

l


t
n

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=="p":
    x=x+2
    continue
  else:
    print(a[x])
    x=x+1

l
o
o
i
n

t
h
o
n

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=="o":
    x=x+1
    break
  else:
    print(a[x])
    x=x+1

l

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=='o' or a[x]=='p':
   x=x+1
   continue
  else:
    print('current letter:',a[x])
    x=x+1

current letter: l
current letter:
current letter: i
current letter: n
current letter:
current letter: y
current letter: t
current letter: h
current letter: n

In [ ]:
x=0
a='loop in python'
while x<len(a):
  if a[x]=='p' or a[x]=='n':
   x=x+1
   break
  else:
    print('current letter:',a[x])
  x=x+1

current letter: l
current letter: o
current letter: o

## for loop

In [ ]:
b=('apple','orange','mango')
for c in b:
  print(c)

apple
orange
mango

In [ ]:
for x in 'python developer':
  if x=="p" or x=='e':
    continue
  else:
    print(x)

y
t
h
o
n

d
v
l
o
r

In [ ]:
for x in 'python developer':
  if x=="e":
    break
  else:
    print(x)

p
y
t
h
o
n

d

In [ ]:
for x in 'python developer':
  pass
print(x)

r

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
a=[12,13,14,15]
for i in range(len(a)):
  print(i)

0
1
2
3

In [ ]:
a=[12,13,14,15]
for i in range(len(a)):
  print(a[i])

12
13
14
15

In [ ]:
sum=0
for x in range(11):
   sum=sum+x
print(sum)

55

In [ ]:
for x in range(5):
  print(x)
else:
  print('no')

0
1
2
3
4
no

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

### nested loop

In [ ]:
fruits=['apple','orange','mango']
color=['red','blue','yellow']
for x in fruits:
  for y in color:
     print(x,y)

apple red
apple blue
apple yellow
orange red
orange blue
orange yellow
mango red
mango blue
mango yellow

# **Python Functions**

In [ ]:
def hello():
  print('hi all')
hello()

hi all

In [ ]:
def even_or_odd(x):
  if x%2==0:
    print('even')
  else:
    print('odd')
even_or_odd(5)
even_or_odd(6)
even_or_odd(9)

odd
even
odd

In [ ]:
#python program to demonstrate default arguments

def num(x,y=20):
  print('x',x)
  print('y',y)
num(52)

x 52
y 20

In [ ]:
# to demonstrate keyword arguments

def name(firstname,lastname):
  print(firstname,lastname)
name(firstname='abishek',lastname='N')
name(lastname='N',firstname='abishek')

abishek N
abishek N

In [ ]:
def my(*kids):
  print('the youngest child is',kids[2])
my('abi','emil','linus')

the youngest child is linus

In [ ]:
def my(*kids):
  for i in kids:
    print(i)
my('abi','naj','asd')

abi
naj
asd

In [ ]:
def my(**student):
  print('his first name is',student['fname'])
my(fname='abishek',lname='N')

his first name is abishek

In [ ]:
# IF we call the function without argument,it uses the default value

def my(country='india'):
  print('i am from',country)
my('sweden')
my('brazil')
my()
my('iran')

i am from sweden
i am from brazil
i am from india
i am from iran

In [ ]:
def my(xys):
  for i in xys:
    print(i)
frt=['apple','banana','orange']
my(frt)

apple
banana
orange

In [ ]:
def sq_value(num):
  return num+2
print(sq_value(2))
print(sq_value(4))

4
6

In [ ]:
def my(x):
  x[1]=30
lst=[1,23,43,67]
my(lst)
print(lst)

[1, 30, 43, 67]

In [ ]:
def f1():
  s='hello all'
  def f2():
   print(s)
  f2()
f1()

hello all

## lambda function
it is an anonymous funtion.

lambda argument:expression

any number of argument but only one expression

In [ ]:
def cube(y):
  return y*y*y       # normal fun call

g= lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a:a**n
base = power(2)
print('now power is set to 2')
print('6 power of 2 =',base(6))

base =power(5)
print('now power is set to 5')
print('8 power of 5 =',base(8))

now power is set to 2
6 power of 2 = 36
now power is set to 5
8 power of 5 = 32768

### filter()

In [ ]:
a=[2,5,7,12,8,90,100]
filtered =filter(lambda x:x%2==0,a)
print(list(filtered))

[2, 12, 8, 90, 100]

In [ ]:
a=(2,5,7,12,8,90,100)
filtered =filter(lambda x:x<14,a)
print(tuple(filtered))

(2, 5, 7, 12, 8)

### map()

In [ ]:
a=[2,3,5,7,12,14,67,71]
maped=map(lambda x:x%2==0,a)
print(list(maped))

[True, False, False, False, True, True, False, False]

## global and local variable

In [ ]:
#Global variables are the one that is defined and declared outside a function and
#we need to use them inside a function

def my():
  print(s)
s='hi python'
my()

hi python

In [ ]:
def my():
  s='me too'
  print(s)
s='hi python'
my()
print(s)

me too
hi python

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside h():',a)
print('global:',a)
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

global: 1
inside f(): 1
global: 1
inside g(): 2
global: 1
inside h(): 3
global: 3

## First class funtions

### functions are objects

In [ ]:
def shout(txt):
  return txt.upper()
print(shout('hello'))
yell=shout
print(yell('hello'))

HELLO
HELLO

### function can be passed as arguments to other function

In [ ]:
def shout(txt):
  return txt.upper()
def whisper(txt):
  return txt.lower()
def greet(func):
  greeting=func('hi,i am created by a function passed as an argument')
  print(greeting)

greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT
hi,i am created by a function passed as an argument

### funtion can return another funtion

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

## Recursive funtions

In [ ]:
x=int(input())
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))
print('the factorial of',x,"is",calc_factorial(x))

5
the factorial of 5 is 120

# **Class and Object**

In [ ]:
class phone:
  def make_call(self):
    print("let's make a phone call")
  def play_game(self):                # method
    print("let's play a game")
p1=phone()                            # making object
p1.make_call()
p1.play_game()

let's make a phone call
let's play a game

## adding parameter to the class

In [ ]:
class phone:

  def set_color(self,color):        # adding new parameter
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
p2=phone()
p2.set_color('blue')
p2.show_color()

'blue'

In [ ]:
p2.set_cost(99999)
p2.show_cost()

99999

## creating a class with constructor

In [ ]:
class employee:
  def __init__(self,name,age,salary,gender):    # init method
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print('name of employee is',self.name)
    print('age of employee is',self.age)
    print('salary of employee is',self.salary)
    print('gender of employee is',self.gender)

em=employee('sanu',30,21000,'male')
em.employee_details()

name of employee is sanu
age of employee is 30
salary of employee is 21000
gender of employee is male

In [ ]:
class student:
  school='abs school'

  def __init__(self,name,age,roll_num):
    self.name=name
    self.age=age
    self.roll_num=roll_num

  def details(self):
    print(f'{self.name} is {self.age} years old and studying at {self.school}.And roll number is {self.roll_num}')

student1=student('abishek',23,19)
student2=student('athul',24,25)
student1.details()
student2.details()

abishek is 23 years old and studying at abs school.And roll number is 19
athul is 24 years old and studying at abs school.And roll number is 25

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power
ninja=character(300,40,80)
warrior=character(200,50,90)
print('power of ninja',ninja.power)
print('health of ninja',ninja.health)
print('damage of warrior',warrior.damage)

power of ninja 80
health of ninja 300
damage of warrior 50

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power
  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
abi=character(300,40,87)
sanu=character(200,30,82)
print('power of abi',abi.power)
print('health of abi',abi.health)
abi.double()
print('after doubling')
print('power of abi',abi.power)
print('damage of abi',abi.damage)

power of abi 87
health of abi 300
after doubling
power of abi 174
damage of abi 120

In [ ]:
class character:
  def __init__(self,name,health,damage,power):
    self.name=name
    self.health=health
    self.damage=damage
    self.power=power
  def hai(self):
    print('hello i am',self.name)

  def is_alive(self):
    if self.health<=0:
      print(self.name,'is dead!')
    else:
      print(self.name,'is alive')

  def player_detail(self):
    print('.....'*5)
    print('name of player is',self.name)
    print("health of player is",self.health)
    print('damage of player is',self.damage)
    print('power of player is',self.power)
    print()

ninja=character('ninja',300,40,90)
warrior=character('warrior',200,30,80)

ninja.hai()
ninja.health=0
print('health of ninja',ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_detail()
ninja.player_detail()

hello i am ninja
health of ninja 0
ninja is dead!
warrior is alive
.........................
name of player is warrior
health of player is 200
damage of player is 30
power of player is 80

.........................
name of player is ninja
health of player is 0
damage of player is 40
power of player is 90

In [ ]:
x=2
print("The value is",x)

The value is 2

In [ ]:
x=2
print(f"value is {x}")

value is 2

## del operator

we can delete the properites of the object or object itself by using the del keyword

In [ ]:
class student:
  school='abs school'

  def __init__(self,name,age,roll_num):
    self.name=name
    self.age=age
    self.roll_num=roll_num

  def details(self):
    print(f'{self.name} is {self.age} years old and studying at {self.school}.And roll number is {self.roll_num}')

student1=student('abishek',23,19)
student2=student('athul',24,25)
del student1.name
student1.details()

AttributeError: 'student' object has no attribute 'name'

## Python built - in class function


getattr ( obj, name, default ) :

It is used to access the attribute of the object

setattr ( obj, name, value ) :

It is used to set a particular value to the specific attribute of an object

delattr ( obj, name ) :

it is used to delete a specific attribute.

hasattr ( obj, name ) :

It returns true if the object contains some specific attribute.

In [ ]:
class student:
  school='abs school'

  def __init__(self,name,age,roll_num):
    self.name=name
    self.age=age
    self.roll_num=roll_num

  def details(self):
    print(f'{self.name} is {self.age} years old and studying at {self.school}.And roll number is {self.roll_num}')

student1=student('abishek',23,19)
student2=student('athul',24,25)
print(getattr(student1,'name'))   # or print(student1.name)

setattr(student1,'age',25)       # or student1.age=25
print(student1.age)

print(hasattr(student1,'id'))    # id attribute checking

delattr(student1,'age')      # for delete attribute

abishek
25
False

# **Inheritance in oop**


Inheritance is a fundemental concept of object-oriented programming(oop) that allows a class (child or derived class) to acquire the attributes and methods of another class (parent or base class), it facilitates code reusability, modularity, and the creation hierarchical relationships b/w classes. Promoting efficient code management and reducing redundancy.

## Type of inheritance

### single inheritance

one parent and one child

In [ ]:
class animal:        # parent class
  def speak(self):
    print('animal speaking')

class dog(animal):    # child class
   def bark(self):
    print('dog barking')

d=dog()
d.bark()
d.speak()

a=animal()
a.speak()
# a.bark()  AttributeError: 'Animal' object has no attribute 'bark' (because the orginal class have no connection with the child behaviour/child method)

dog barking
animal speaking
animal speaking

In [ ]:
class vehicle:
  def start(self):
    print('vehicle is starting')
  def stop(self):
    print('vehicle is stoping')

class car(vehicle):
  def drive(self):
    print('car is being driven')

c=car()
c.start()
c.drive()
c.stop()

vehicle is starting
car is being driven
vehicle is stoping

In [ ]:
class father:
  def sing(self):
    print('he is a singer')
  def draw(self):
    print('he can draw')

class son(father):
  def dance(self):
    print('he can dance')
  def piano(self):
    print('he is a pianoist')

s=son()
s.sing()
s.dance()
s.draw()
s.piano()

f=father()

he is a singer
he can dance
he can draw
he is a pianoist

### multilevel inheritance


single parent, son, son's child

In [ ]:
class animal:                         # parent class        or grandparent class
  def speak(self):
    print('animal is speaking')

class dog(animal):                    # child class    (inheritance)
  def bark(self):
    print('dog is barking')

class puppy(dog):                     # child son class   (multilevel inheritance)
  def eat(self):
    print('eating choco')

d=dog()
d.speak()
d.bark()
# d.eat()    AttributeError: 'dog' object has no attribute 'eat'
print()
p=puppy()
p.eat()
p.bark()
p.speak()

animal is speaking
dog is barking

eating choco
dog is barking
animal is speaking

In [ ]:
class vehicle:
  def start(self):
    print('vehicle is starting')
  def stop(self):
    print('vehicle is stoping')

class car(vehicle):
  def breaking(self):
    print('car is breaking')

class bmw(car):
  def speed(self):
    print('high speed')

c=car()
c.breaking()
c.start()
c.stop()
print()
b=bmw()
b.breaking()
b.speed()
b.start()
b.stop()

car is breaking
vehicle is starting
vehicle is stoping

car is breaking
high speed
vehicle is starting
vehicle is stoping

### hierarchial inheritance

single parent class, more than one child class

In [ ]:
class shape:                            # shape parent class
  def info(self):
    print('shape has dimension')

class circle(shape):                           # child of shape
  def draw(self):
    print('drawing a circle...')

class rectangle(shape):                     # also child of shape
  def draw(self):
    print('drawing a rectangle...')

c=circle()
r=rectangle()
c.info()
c.draw()
print()
r.info()
r.draw()

shape has dimension
drawing a circle...

shape has dimension
drawing a rectangle...

In [ ]:
class person:                       # parent
  def introduce(self):
    print("I am a person..")

class Teacher(person):              #child of person
  def teach(self):
    print("I teach students..")

class Student(person):              # also child of person
  def study(self):
    print("I study subjects")


t=Teacher()
s=Student()

t.introduce()
t.teach()
print()
s.introduce()
s.study()

I am a person..
I teach students..

I am a person..
I study subjects

In [ ]:
class vehicle:
  def move(self):
    print('vehicle is moving')

class car(vehicle):
  def stop(self):
    print('car is stoping')

class bike(vehicle):
  def wheel(self):
    print('bike has two wheels')


c=car()
b=bike()
c.move()
c.stop()
print()
b.move()
b.wheel()

vehicle is moving
car is stoping

vehicle is moving
bike has two wheels

### multiple inheritance

multiple parent class , single child class

In [ ]:
class Calculation1: # parent class
  def summation(self,a,b):
    print(a+b)

class Calculation2: # another parent class
  def multiplication(self,a,b):
    print(a*b)


class Derived(Calculation1,Calculation2):  # child from that both parent classes
  def divide(self,a,b):
    print(a/b)


d=Derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

In [ ]:
class animal1:
  def catch(self):
    print('catching speed')

class animal2:
  def run(self):
    print('running speed')

class lion(animal1,animal2):
  def jump(self):
    print('jump very high')

l=lion()
l.catch()
l.run()
l.jump()

catching speed
running speed
jump very high

### hybrid inheritance

Hybrid inheritance is a **combination of two or more types of inheritance** (such as single, multiple, multilevel, or hierarchial inheritance ) in a single program.

In [ ]:
class person:
  def show(self):
    print("I am a person")
class teacher(person):
  def teach(self):
    print("i teach students")

class staff:
  def manage(self):
    print("I manage school activities")

# hybrid inheritenc principal inherits from both teacher and staff (single + multiple)
class principal(teacher, staff):
  def oversea(self):
    print("I oversea the entire school")

principal = principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

I am a person
i teach students
I manage school activities
I oversea the entire school

### super() method

we can call parent method using super() function

In [ ]:
class parent:
  def greet1(self):
    print("Hello from parent..")

class child(parent):
  def greet2(self):
    super().greet1()               # Calling parent method
    print("Hello from child..")

child=child()
child.greet2()

Hello from parent..
Hello from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("Parent constructor called..")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age = age
    print("Child construnctor called..")

child=child("abishek",23)

Parent constructor called..
Child construnctor called..

# polymorphism


meaning one task can be performed in different ways. In Object-Oriented programming (oop), polymorphism allows the same method name to behave differently based on the object that calls it.

## Type of polymorphism

### method overriding


A child class provides a specific implemntation of a method that is already defined in the parent class.

In [ ]:
class A:
  def show(self):
    print('class A')

class B(A):
  def show(self):
    print('class B')

class C(B):
  def show(self):
    print('class C')

ob=C()
ob.show()

class C

In [ ]:
class A:
  def show(self):
    print('class A')

class B(A):
  def show(self):
    super().show()
    print('class B')

class C(B):
  def show(self):
    super().show()
    print('class C')

ob=C()
ob.show()

class A
class B
class C

In [ ]:
class animals:
  def speak(self):
    print('animal is making sound')

class dog(animals):
  def speak(self):
    print('dog barks')

class cat(animals):
  def speak(self):
    print('cat mewo')

d=dog()
c=cat()
d.speak()
c.speak()

dog barks
cat mewo

### method overloadind

Polymorphism in python allows different classes to have methods with the same name but different functionality. Method overloading means having multiple methods with the same name but different numbers or types of parameters.

Default arguments - Providing default values to parameters.
Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

default arguments

In [ ]:
class calculator:
  def add(self,a,b=0,c=0):
    print(a+b+c)
# different number of argument
c=calculator()
c.add(5)
c.add(7,9)
c.add(2,4,6)

5
16
12

variable - length argument(*args,**kwargs)

In [ ]:
class maths:
  def add (self, *numbers):
    total = sum(numbers)
    print(f"Sum: {total}")

math = maths()

# call the method with n number of argumetns using (*args)

math.add(2)
math.add(4,5,1)
math.add(6,4,7,3)
math.add(25,14,25,12,14)

Sum: 2
Sum: 10
Sum: 20
Sum: 90

In [ ]:
class greeting:
  def say_hello(self, **kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"You are {kwargs['age']} years old!")
    print(f"You are from {kwargs['city']}!")

g=greeting()
g.say_hello(name='abishek',age=23,city='thrissur')

Hello abishek!
You are 23 years old!
You are from thrissur!

# Encapsulation

Encapsulation is one of the fundamental concepts in OOP that refers to binding data ( variables ) and methods ( fucntions ) that operate on the data into a single unit, and restriciting direct access to some of the object's components

In simpler terms, Encapsulation is about protecting data by controlling access to it.

    **Key Features of Encapsulation**:

**Data Hiding :** Internal detailsof an object are
hidden from the outside world

**Access Controll :** Provides controlled access using public, private, and protected access specifiers.

**Improved Security :** Prevents unathorized access and accidental modification of data



    **Encapsulation Access Specifiers in Python :**

**Public Members :** Accessible from anywhere.

**Protected Members ( _variable ):** Intended for internal use but can be accessed with a warning

**Private Members ( __variables ) :** Not accessible directly outside the class

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

c=company('tcs',54)
print(c._company_id)
# we can print one underscore variable
# print(c1.__company_name)               # we can't print two underscore variable outside the class
                                        #but we can access on the classs

54

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

  def get_company_name(self):
    print(self.__company_name)

c=company('tcs',41)
c.get_company_name()

tcs

In [ ]:
class bankaccount:
  def __init__(self,acct_no,balance):
    self.__acct_no=acct_no
    self.__balance=balance

  def deposite(self,amt):
    if amt>0:
      self.__balance +=amt
      print(f'deposite:{amt} new balance:{self.__balance}')
    else:
      print('invalid deposite error')

  def get_balance(self):
    return self.__balance

acct=bankaccount(215412,2000)
acct.deposite(200)
# print(acct.__balance) AttributeError: 'bankaccount' object has no attribute '_bankaccount__balance'
print(acct.get_balance())

deposite:200 new balance:2200
2200

# Abstraction



*   Abstraction is a concept in Object-Oriented Programming ( OOP ) that focuses on hiding the implementation details and showing only the necessary featyres of an object.
*   It allows users to focus on what an object dows rather than how it does it.


*   **Why is Abstraction important?**

*   Simplifies complex systems by focusing only on essential aspects.

*   Reduces code complexity and increases reusability.


*  Enhances security by restricting direct acces to implementation details

**Abstraction in Python Using Abstract Class**es


*   Python provides abstraction using abstract classes and abstract methods which are defined in the abc module
*  Abstract class : A class that contains one or more abstract methods, ti cannot be instantiated directly.

*   Abstrcat method : A method that is declared but contains no implementation ( must be implemented by child classses. )

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC): #abstract class

  @abstractmethod
  def start_engine(self):
    pass #abstract method with no implementation


  @abstractmethod
  def stop_engine(self):
    pass #abstract method with no implementation

# An abstract class cannot be instantiated directly
v=Vehicle() # TypeError: Can't instantiate abstract class Vehicle with abstract methods start_engine, stop_engine

TypeError: Can't instantiate abstract class Vehicle without an implementation for abstract methods 'start_engine', 'stop_engine'

If we want to make object from abstract class we can't directly make object from the abstract class.

So we need to make child class for abstract class object making

And also need to make same method ( function ) on child class also

In [ ]:
from abc import ABC,abstractmethod
class vehicle(ABC):                 #abstract class

  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass

    # making child class for abstract class instantiating

class car(vehicle):      # child class of vehicle

   def start_engine(self):      # also we need to create same function (method) in child class  other wise it will shows error!
    print("Car engine started")

   def stop_engine(self):
    print("Car engine stopped")

c=car()
c.start_engine()
c.stop_engine()

Car engine started
Car engine stopped

In [ ]:
from abc import ABC,abstractmethod

class shape(ABC):
   @abstractmethod
   def cal_area(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def cal_area(self):
    print('area=',3.14*(self.radius)**2)

class rectangle(shape):
  def __init__(self,length,width):
    self.length=length
    self.width=width

  def cal_area(self):
    print('area=',self.length*self.width)

c=circle(3)
c.cal_area()
print('.........')
r=rectangle(5,3)
r.cal_area()

area= 28.26
.........
area= 15

# Class method

Class methods can modify class-level variables or properties (variables shared among all instances).This allows changes to be made that affect the class as a whole, rather than just an individual instance.

**( @classmethod ):** This is used to define a class method, it indicates that the method is bound to the class, not to an instance.

**First Parameter (cls):** the first prameter of a class method is always a refernce to the class itself, typically named cls. This is similar to how instance methods have refernce to the instance ( typically names self ).

In [ ]:
class car:
  wheels=4
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def change_wheel(cls,newwheel):
    cls.wheels=newwheel
    print(f"the number of wheels are update to {cls.wheels}")

car1=car('toyota','etios')

# call the class method to modify the class variable
car.change_wheel(5)

print(f"car variable updated to :{car1.wheels}")

the number of wheels are update to 5
car variable updated to :5

# Iterator

In [ ]:
mytuple=('apple','banana','cherry')
it=iter(mytuple)
print(next(it))
print(next(it))
print(next(it))

apple
banana
cherry

In [ ]:
my='apple'
it=iter(my)
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

a
p
p
l
e

In [ ]:
mytuple=('apple','banana','cherry')
for i in mytuple:
  print(i)

apple
banana
cherry

In [ ]:
class mynum:
  def __iter__(self):
    self.a=1
    return self

  def __next__(self):
    x=self.a
    self.a +=1
    return x
mycls=mynum()
it=iter(mycls)
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4
5

# Generator

In [ ]:
def greeting():
  print('Hi!')
  yield 1
  print('how are you')
  yield 2
  print('are you there')
  yield 3
messenger=greeting()
result=next(messenger)
print(result)
result=next(messenger)
print(result)
result=next(messenger)
print(result)

Hi!
1
how are you
2
are you there
3

# **Threading**

Threading allows multiple parts of a prograrm to run concurrently.

**Useful for tasks like:**

Handling multiple user requests.

Background tsks (eg. monitoring sensors).

Downloading multiple files simultaneously.

**How to use Threading in Python**

Import the threading module.

Create threads using **threading.Thread( )**

Start threads using ,**start( )**

Wait for threads to **finish using .join( )**

In [ ]:
# basic thread

import threading

def task():
  print('thread running')

thread= threading.Thread(target=task)
thread.start()
thread.join()

thread running

In [ ]:
# multiple thread

import threading

def task1():
  print('task 1')

def task2():
  print('task 2')

a=threading.Thread(target=task1)
b=threading.Thread(target=task2)

a.start()
b.start()

a.join()
b.join()

task 1
task 2

In [ ]:
import threading

def number():
  for i in range(6):
    print(i)

t=threading.Thread(target=number)

t.start()
t.join()

0
1
2
3
4
5

In [ ]:
import threading
import time

def dwnld_file(file):
  print(f"dwnlding {file}..")
  time.sleep(2)
  print(f'{file}dwnloded.')

files=['file1.txt','file2.txt','file3.txt']

threads=[threading.Thread(target=dwnld_file,args=(f,))for f in files]

for t in threads:
  t.start()

for t in threads:
  t.join()

dwnlding file1.txt..
dwnlding file2.txt..
dwnlding file3.txt..
file1.txtdwnloded.
file2.txtdwnloded.
file3.txtdwnloded.

## using thread with arguments

In [ ]:
import threading
def greet(name):
  print(f'hello {name}!')

t=threading.Thread(target=greet,args=('abishek',))
t.start()
t.join()

hello abishek!

## two threading

In [ ]:
import threading
import time
                   # thread 1
def chef_work():
  for i in range(5):               # chef prepares 5 dishes
    print(f'chef: preparing dish {i+1}....')
    time.sleep(2)                  # stimulate time taken to prepare dish
    if i==2:             # Assistant starts washing utensils during the 3rd dish
      print('chef: calling assistant to wash utensils.')
      time.sleep(1)                # Simulate time taken to call the assistant
      assistant_thread=threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join()        # Wait for the assistant to finish
      print('chef: assistant done. resuming dish prepration.')
  print('chef: all dishes are prepared')

                   # thread 2
def assistant_work():
  for j in range(3):         # Assistant washes 3 utensils
    print(f' Assistant: Washing utensil {j+1}...')
    time.sleep(2)                   # Simulate time taken to wash each utensil
  print(" Assistant: All utensils are clean.")

print("Kitchen: Starting work.")
chef_thread = threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()               # Wait for the chef to complete their work
print("Kitchen: All work completed.")

Kitchen: Starting work.
chef: preparing dish 1....
chef: preparing dish 2....
chef: preparing dish 3....
chef: calling assistant to wash utensils.
 Assistant: Washing utensil 1...
 Assistant: Washing utensil 2...
 Assistant: Washing utensil 3...
 Assistant: All utensils are clean.
chef: assistant done. resuming dish prepration.
chef: preparing dish 4....
chef: preparing dish 5....
chef: all dishes are prepared
Kitchen: All work completed.

# **Exception**

Exception handling is a programming concept used to manage error or unexpected conditions that occure during the exicution of a programme .it alles the programe to continue running of failgracefully instead of crashing .

***Use Exception Handling?***

To prevent the entire program from crashing due to runtime errors.

To provide informative error messages.

To allow recovery or alternative execution paths.

***common terms***

Exception: An error that occurs during program execution.

Try block: Code that might throw an exception.

Except block: Code that runs if an exception occurs.

Finally block: Code that always runs, whether an exception occurred or not.

Raise: Manually trigger an exception.

## **What are errors?**

Errors are issues in the code that prevent it from executing successfully.

**Types of Errors**

Synatx Errors

Runtime Erros

Logical Errors

### syntax error

Occur when the code vilates python's syntax rules.

Detetcted before execution.

Example: Missing colons, unmatched parentheses.

In [ ]:
if 1>4
print('no')

SyntaxError: expected ':' (ipython-input-3194519541.py, line 1)

### Runtime error

Occur during program execution

Example: Division by zero , accessing undefined variable

Example Code Division by zero :

x=1=/0 print(x)

Error Message : zero Division Error : division by zero

The program syntax is correct, but the operation fails at runtime(eg, dividing by zero, accessing an undefined variable , or file not found).

In [ ]:
x=2/0
print(x)

ZeroDivisionError: division by zero

### Logical error

The program runs but gives incorrect results due to logic false,

Example: incorrect formula or condition.

incorrect formula for calculating the area of a rectangle

length =5

width= 10

area = length +width   # should be length * width

print("Area;",area)

ouput: Area :15

The program runs successsfully but, the result is wrong because of a mistake in the logic of formula

In [ ]:
try:
  num=int(input('enter a num:' ))
  result=10/num
except ZeroDivisionError:
  print("Cannot divide by zero!")
except ValuEError:
  print("Please enter a valid number!")
else:
  print("Division successful! Result:", result)
finally:
  print('this block always runs')

enter a num:0
Cannot divide by zero!
this block always runs

## What are exceptions?

Exeptions are runtime errros that occur during program execution, disrupting the normal flow of a program

Common Built-in Exceptions:

ZeroDivisionErrors

ValueError

KeyError

FileNotFoundError

indexError

In [ ]:
import math
print(math.exp(1000)) # its OverflowError

OverflowError: math range error

In [ ]:
obj =42
obj.append(5) # Attruibute Error

AttributeError: 'int' object has no attribute 'append'

In [ ]:
data= {"name":"john"}
print(data["age"])  # key Error

KeyError: 'age'

In [ ]:
my_list=[1,2,3]
print(my_list[4]) # IndexError

IndexError: list index out of range

In [ ]:
print(int("hello")) # Value Error

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
my_list=[1,2,3]
my_list.remove(5)   # value error

ValueError: list.remove(x): x not in list

In [ ]:
print("5"+5) #Type Error

TypeError: can only concatenate str (not "int") to str

In [ ]:
open("nonexistnt_file,.txt")  # FileNotFoundError

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file.txt'

## **Try - except error**



Basis Structrue:

(try: code that might raise an exception

except Esception Type: code to handle the exception)

In [ ]:
try:
  x= int (input("Eneter a number:"))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("Cannot divide by zero")

Eneter a number:0
Cannot divide by zero

In [ ]:
try:
  x= int (input("Eneter a number:"))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Eneter a number:0
division by zero

In [ ]:
try:
  print(a) # The a is not defined and it will show error
except:
  print("Error occured") # but there is exept keyword so that's why error not showing

Error occured

In [ ]:
print(a)
print('hello world')

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print('error occured')
print('hello world')

error occured
hello world

## else and finally block

### else block
Runs only if no exceptions occur.

In [ ]:
try:
  num=int(input('enter a num:' ))
  result=10/num
except ZeroDivisionError:
  print("Cannot divide by zero!")
else:
  print(result)

enter a num:2
5.0

### finally block

Always runs, regardlesss of whether an exception occurred
Useful for cleanup (ef, closing files)

In [ ]:
try:
  file_= open("data.txt","r")

except FileNotFoundError:
  print("File not found!")

finally:
  print("End of program")

File not found!
End of program

## raise exception

The raise statement in python is used to manually trigger an exception when a specific error condition occurs.

In [ ]:
age = int(input("Enter your age:"))

if age<0:
  raise ValueError("Age cannot be negative")
else:
  print(f"Your age is {age}")

print("No try except")

Enter your age:-5

ValueError: Age cannot be negative

In [ ]:
try:
  age = int(input("Enter your age:"))

  if age<0:
    raise ValueError("Age cannot be negative")
  else:
    print(f"Your age is {age}")
except ValueError as e:
  print(e)
print("try except finished")

Enter your age:-5
Age cannot be negative
try except finished

## custom exception

Custom exceptions are user- defined exceptions in Python that help handle domain-specific errors more meaningully and improve code clarity.

In [ ]:
class invalidageexception(Exception):
  'raised when the input value is less than 18'
  pass

num=18
try:
  input_num=int(input('enter a number:'))
  if input_num < num:
    raise invalidageexception

  else:
    print('eligible to vote')

except invalidageexception:
  print('exception occured : invalid age')

enter a number:12
exception occured : invalid age

# file handling

**Modes:**

"r"  Read (default). Error if file doesn't exist.

"w"  Write. Creates file if not exists, overwrites if it does.

"a"  Append. Creates file if not exists, appends if it does.

"x"  Create. Creates file, error if it exists.

In [ ]:
file=open('exam.txt','x')
file.write("this file is created using 'x' mode.\n")
file.close()

FileExistsError: [Errno 17] File exists: 'exam.txt'

In [ ]:
file=open('exam.txt','w')
file.write('hii python!\n')
file.write('this line is added.\n')
file.close()

In [ ]:
file=open('exam.txt','a')
file.write('this file is appended.\n')
file.close()

In [ ]:
file=open('exam.txt','r')
for line in file:
  print(line)
file.close()

hii python!

this line is added.

this file is appended.

Using **with** Statement

Automatically handles closing the file.

In [ ]:
with open('ab.txt','x') as file:
  file.write('hii!\n')

In [ ]:
with open('ab.txt','w') as file:
  file.write('hello, world!\n')
  file.write('i am python\n')

In [ ]:
with open('ab.txt','a') as file:
  file.write('programing language\n')

In [ ]:
with open('ab.txt','r') as file:
  for i in file:
    print(i)

hello, world!

i am python

programing language

# Regular Expression

RegEx can be used to check if a string contains the specified search pattern

Python has a build in package called re, which can be used to work with regular expression

`import re`

## Metacharacters

In [ ]:
import re

txt='the rain in spain'
#Find all lower case characters alphabetically between "a" and "h"

x=re.findall('[a-h]',txt)
print(x)

['h', 'e', 'a', 'a']

In [ ]:
import re

txt ="That will be 59 dollars"

#Find all digit characters

x=re.findall('\d',txt)
print(x)

['5', '9']

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2569625991.py:7: SyntaxWarning: invalid escape sequence '\d'
  x=re.findall('\d',txt)

In [ ]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
import re

txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "e":

x = re.findall("he.*e", txt)

print(x)

['hello plane']

In [ ]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "a":

x = re.findall("he.+a", txt)

print(x)

['hello pla']

In [ ]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  character, and an "o":

x = re.findall("he.?o", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [ ]:
{} -	Exactly the specified number of occurrence

In [ ]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays"

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

## RegEx funtion



* The findall() function returns a list containing all matches  
* The search() function searches the string for a match, and returns a Match object if there is a match.
If there is more than one match, only the first occurrence of the match will be returned:



*   The split() function returns a list where the string has been split at each match:
*   The sub() function replaces the matches with the text of your choice:

### findall() function

In [ ]:
import re

txt='the rain in spain'

x=re.findall('ai',txt)
print(x)

['ai', 'ai']

In [ ]:
import re

txt='the rain in spain'

x=re.findall('india',txt)
if x:
  print('yes,match')
else:
  print('no match')

no match

### search() funtion

In [ ]:
import re

txt='india is my country'
x=re.search('spain',txt)
print(x)

None

In [ ]:
import re

txt='india is my country'
x=re.search('\s',txt)
print(x.start())

5

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3172226200.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.search('\s',txt)

### split() funtion

In [ ]:
import re

txt='india is my country'
x=re.split('is',txt)
print(x)

['india ', ' my country']

In [ ]:
import re

txt='india is my country'
x=re.split('\s',txt ,1)
print(x)

['india', 'is my country']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1244215558.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.split('\s',txt ,1)

### sub() funtion

In [ ]:
import re

txt='india is my country'
x=re.sub('india','spain',txt)
print(x)

spain is my country

In [ ]:
import re

txt='india is my country'
x=re.sub('\s','9',txt)
print(x)

india9is9my9country

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2812397892.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub('\s','9',txt)

In [ ]:
import re

txt='india is my country'
x=re.sub('\s','9',txt,2)
print(x)

india9is9my country

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-777999397.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub('\s','9',txt,2)

### match object

In [ ]:
import re

txt='india is my country'
x=re.search('ai',txt)
print(x)

None

In [ ]:
import re

txt='The Rain in Spain'
x=re.search(r"\bR\w+",txt)
print(x.span())

(4, 8)

In [ ]:
import re

txt='The rain in Spain'
x=re.search(r"\bT\w+",txt)
print(x.group())

The

In [ ]:
import re

txt='The rain in Spain'
x=re.search(r"\bS\w+",txt)
print(x.string)

The rain in Spain

In [ ]:
import re

txt='India is my Country'
x=re.search(r"\bis\b",txt)
print(x)

<re.Match object; span=(6, 8), match='is'>

In [ ]:
import re

txt='India is my Country'
x=re.findall(r"\Bis\B",txt)
print(x)

[]

In [ ]:
import re

txt='India is my Country'
x=re.findall('is{2,}',txt)
print(x)

[]

In [ ]:
import re

txt='India is my Country'
x=re.findall('[art]',txt)
print(x)

['a', 't', 'r']

In [ ]:
import re

txt='India is my Country'
x=re.findall('[^abd]',txt)
print(x)

['I', 'n', 'i', ' ', 'i', 's', ' ', 'm', 'y', ' ', 'C', 'o', 'u', 'n', 't', 'r', 'y']

In [ ]:
import re

txt='India is my Country'
x=re.findall('[A-Z]',txt)
print(x)

['I', 'C']

In [ ]:
import re

txt='India is my Country'
x=re.search('y$',txt)
print(x)

<re.Match object; span=(18, 19), match='y'>

In [ ]:
import re

txt='India is my Country'
x=re.findall('n.+',txt)
print(x)

['ndia is my Country']