# **Pandas**

**DataFrame**

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

## creating DataFrame using python dictionary

In [ ]:
import pandas as pd

emp={'id':[101,102,103,104,105],'Name':['abishek','anandu','abijith','manu','sanu'],'Age':[20,23,22,25,24],'Salary':[25000,20000,15000,30000,10000]}
df=pd.DataFrame(emp)
df

    id     Name  Age  Salary
0  101  abishek   20   25000
1  102   anandu   23   20000
2  103  abijith   22   15000
3  104     manu   25   30000
4  105     sanu   24   10000

Pandas use the **loc** attribute to return one or more specified row(s)

In [ ]:
print(df.loc[1])

id           102
name      anandu
age           23
salary     20000
Name: 1, dtype: object

In [ ]:
print(df.loc[[1,3]])

    id    name  age  salary
1  102  anandu   23   20000
3  104    manu   25   30000

With the index argument, you can name your own indexes

In [ ]:
import pandas as pd

emp={'id':[101,102,103,104,105],'Name':['abishek','anandu','abijith','manu','sanu'],'Age':[20,23,22,25,24],'Salary':[25000,20000,15000,30000,10000]}
df=pd.DataFrame(emp,index=['x','y','p','q','s'])
df

    id     Name  Age  Salary
x  101  abishek   20   25000
y  102   anandu   23   20000
p  103  abijith   22   15000
q  104     manu   25   30000
s  105     sanu   24   10000

In [ ]:
print(df.loc['y'])

id           102
Name      anandu
Age           23
Salary     20000
Name: y, dtype: object

## creating DataFrame using python tuple list

In [ ]:
import pandas as pd

emp=[(101,'abishek',20,25000),(102,'anandu',23,20000),(103,'abijith',22,15000),(104,'manu',25,30000),(105,'sanu',24,10000)]
df=pd.DataFrame(emp,columns=['id','name','age','salary'])
df

    id     name  age  salary
0  101  abishek   20   25000
1  102   anandu   23   20000
2  103  abijith   22   15000
3  104     manu   25   30000
4  105     sanu   24   10000

## creating DataFrame using a list of dictionary

In [ ]:
import pandas as pd

emp=[{'id':101,'name':'abishek','age':20,"salary":25000},{'id':102,'name':'anandu','age':23,'salary':20000},{'id':103,'name':'abijith','age':22,'salary':15000},
     {'id':104,'name':'manu','age':25,'salary':30000},{'id':105,'name':'sanu','age':24,'salary':10000}]
df=pd.DataFrame(emp)
df

    id     name  age  salary
0  101  abishek   20   25000
1  102   anandu   23   20000
2  103  abijith   22   15000
3  104     manu   25   30000
4  105     sanu   24   10000

## Pandas series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type

In [ ]:
import pandas as pd

a=[2,5,1,'ab','er']
mi=pd.Series(a)
print(mi)

0     2
1     5
2     1
3    ab
4    er
dtype: object

## Labels

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [ ]:
import pandas as pd

a=[2,5,1,'ab','er']
mi=pd.Series(a)
print(mi[3])

ab

### create label

In [ ]:
import pandas as pd

a=[2,5,1,'ab','er']
mi=pd.Series(a,index=['x','p','f','y','s'])
print(mi)

x     2
p     5
f     1
y    ab
s    er
dtype: object

### key/value object as series

You can also use a key/value object, like a dictionary, when creating a Series.

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories,index=['day1','day3'])
print(myvar)

day1    420
day3    390
dtype: int64

## create DataFrame using CSV

A simple way to store big data sets is to use CSV files (comma separated files).

If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows

**we use read_csv()**

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

to print the entire dataframe

use to_string()

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

check your system's maximum rows with the **pd.options.display.max_rows** statement.

In [ ]:
print(pd.options.display.max_rows)

60

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv',skiprows=3)
print(df)                                                # skip 3 rows

     60  103  135  340.0
0    45  109  175  282.4
1    45  117  148  406.0
2    60  102  127  300.0
3    60  110  136  374.0
4    45  104  134  253.3
..   ..  ...  ...    ...
161  60  105  140  290.8
162  60  110  145  300.0
163  60  115  145  310.2
164  75  120  150  320.4
165  75  125  150  330.4

[166 rows x 4 columns]

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv',header=0,names=['f','g','h','r'])
print(df)                                                       # header mattan

      f    g    h      r
0    60  110  130  409.1
1    60  117  145  479.0
2    60  103  135  340.0
3    45  109  175  282.4
4    45  117  148  406.0
..   ..  ...  ...    ...
164  60  105  140  290.8
165  60  110  145  300.0
166  60  115  145  310.2
167  75  120  150  320.4
168  75  125  150  330.4

[169 rows x 4 columns]

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv',nrows=3)
print(df)                                                    # 3 rows mathram verum

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv',index_col=False)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df.head(10))    # first 10 enam verum

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df.tail(5))    # last 5 enam verum

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.shape  # 169 rows 4 col

(169, 4)

In [ ]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [ ]:
df.Pulse  # or df['Pulse']

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [ ]:
df.index

RangeIndex(start=0, stop=169, step=1)

In [ ]:
df.set_index('Pulse') # index changed to pulse

       Duration  Maxpulse  Calories
Pulse
110          60       130     409.1
117          60       145     479.0
103          60       135     340.0
109          45       175     282.4
117          45       148     406.0
...         ...       ...       ...
105          60       140     290.8
110          60       145     300.0
115          60       145     310.2
120          75       150     320.4
125          75       150     330.4

[169 rows x 3 columns]

In [ ]:
df.reset_index()

     index  Duration  Pulse  Maxpulse  Calories
0        0        60    110       130     409.1
1        1        60    117       145     479.0
2        2        60    103       135     340.0
3        3        45    109       175     282.4
4        4        45    117       148     406.0
..     ...       ...    ...       ...       ...
164    164        60    105       140     290.8
165    165        60    110       145     300.0
166    166        60    115       145     310.2
167    167        75    120       150     320.4
168    168        75    125       150     330.4

[169 rows x 5 columns]

In [ ]:
df.sort_values('Duration',ascending=True)

     Duration  Pulse  Maxpulse  Calories
112        15    124       139     124.2
93         15     80       100      50.5
58         20    153       172     226.4
100        20     95       112      77.7
64         20    110       130     131.4
..        ...    ...       ...       ...
65        180     90       130     800.4
60        210    108       160    1376.0
109       210    137       184    1860.4
79        270    100       131    1729.0
69        300    108       143    1500.2

[169 rows x 4 columns]

In [ ]:
df['Duration'].max()

300

In [ ]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

## create DataFrame using Excel file

In [ ]:
import pandas as pd

df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/TITANIC.xlsx')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/TITANIC.xlsx',index_col=False)
df                                                       # indexil error verandirikan

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:

df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/TITANIC.xlsx',header=None,names=['a','b','c','g','h','s','k','j','f','w','r','p'])
df                                                              # header name mattan

,a,b,c,g,h,s,k,j,f,w,r,p
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
2,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S
3,894,0,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,NaN,Q
4,895,0,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
414,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.05,NaN,S
415,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C
416,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,NaN,S
417,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.05,NaN,S
418,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
def convert_age(x):
  if x==62:
    return 'older'
  else:
    return x

df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/TITANIC.xlsx',converters={'Age':convert_age})
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,older,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:

df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,NaN,S

In [ ]:
df.index

RangeIndex(start=0, stop=418, step=1)

In [ ]:
df.reset_index()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,NaN,S
2,2,894,0,2,"Myles, Mr. Thomas Francis",male,older,0,0,240276,9.6875,NaN,Q
3,3,895,0,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S
4,4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C
415,415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    object
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 39.3+ KB

In [ ]:
df["Age"] = pd.to_numeric(df["Age"], errors='coerce')

In [ ]:
df[df.Age > 50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
20,912,0,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
48,940,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C
69,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S
77,969,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S
81,973,0,1,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S
96,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S
114,1006,1,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,PC 17483,221.7792,C55 C57,S
131,1023,0,1,"Gracie, Col. Archibald IV",male,53.0,0,0,113780,28.5000,C51,C
142,1034,0,1,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
152,1044,0,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S
177,1069,0,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,11778,55.4417,C116,C
179,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C
193,1085,0,2,"Lingane, Mr. John",male,61.0,0,0,235509,12.3500,NaN,Q
213,1105,1,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0,1,0,24065,26.0000,NaN,S
217,1109,0,1,"Wick, Mr. George Dennick",male,57.0,1,1,36928,164.8667,NaN,S
224,1116,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,PC 17606,27.4458,NaN,C
236,1128,0,1,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,D37,C
240,1132,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0,0,112377,27.7208,NaN,C
293,1185,0,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S
305,1197,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S
308,1200,0,1,"Hays, Mr. Charles Melville",male,55.0,1,1,12749,93.5000,B69,S
314,1206,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0,0,PC 17760,135.6333,C32,C
316,1208,0,1,"Spencer, Mr. William Augustus",male,57.0,1,0,PC 17569,146.5208,B78,C
343,1235,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C
356,1248,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S
374,1266,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S
378,1270,0,1,"Hipkins, Mr. William Edward",male,55.0,0,0,680,50.0000,C39,S
387,1279,0,2,"Ashby, Mr. John",male,57.0,0,0,244346,13.0000,NaN,S
391,1283,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S

## Cleaning Data

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')
df

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
2      NaN  26.0  34000.0
3     manu   NaN  31000.0

## Cleaning empty cells

### replace empty values

fillna() method

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')
df.fillna(method='ffill') # fill previous row value

/tmp/ipython-input-1644905801.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0  30000.0
2     sanu  26.0  34000.0
3     manu  26.0  31000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')
df.fillna(method='bfill')   # fill next row value

/tmp/ipython-input-991332967.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0  34000.0
2     manu  26.0  34000.0
3     manu   NaN  31000.0

In [ ]:
df.interpolate()

/tmp/ipython-input-4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0  32000.0
2      NaN  26.0  34000.0
3     manu  26.0  31000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')

df.fillna(23)       # ealla empty valuesillum 23 varum

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0     23.0
2       23  26.0  34000.0
3     manu  23.0  31000.0

In [ ]:
df.fillna({'Age':27})            # age inte empty values annu marulo

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
2      NaN  26.0  34000.0
3     manu  27.0  31000.0

In [ ]:
x=df['Age'].mean()
df.fillna({'Age':x})                      # age int mean value anu age inte empty spaceill veruka

      Name        Age   Salary
0  abishek  23.000000  30000.0
1     sanu  25.000000      NaN
2      NaN  26.000000  34000.0
3     manu  24.666667  31000.0

In [ ]:
x=df['Age'].median()
df.fillna({'Age':x})

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
2      NaN  26.0  34000.0
3     manu  25.0  31000.0

### remove row

dropna() method

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')
df

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
2      NaN  26.0  34000.0
3     manu   NaN  31000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data.xlsx')

df.dropna()     #remove empty rows

      Name   Age   Salary
0  abishek  23.0  30000.0

In [ ]:
df.dropna(inplace=True)        #If you want to change the original DataFrame, use the inplace = True argument
df

      Name   Age   Salary
0  abishek  23.0  30000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
2      NaN   NaN      NaN
3     manu   NaN  31000.0
4    vimal  21.0  25000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df
df.dropna(how='all')              # drop row having all column value NaN

      Name   Age   Salary
0  abishek  23.0  30000.0
1     sanu  25.0      NaN
3     manu   NaN  31000.0
4    vimal  21.0  25000.0

In [ ]:
df.dropna(thresh=3)  #maintain all rows having at least 3 non NaN value

      Name   Age   Salary
0  abishek  23.0  30000.0
4    vimal  21.0  25000.0

## cleaning wrong formate

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df

      Name   Age   Salary                 date
0  abishek  23.0  30000.0  2020-05-21 00:00:00
1     sanu  25.0      NaN  2020-05-06 00:00:00
2      NaN   NaN      NaN           5/21/2020'
3     manu   NaN  31000.0  2020-05-23 00:00:00
4    vimal  21.0  25000.0  2020-05-24 00:00:00

In [ ]:
df['date']=pd.to_datetime(df['date'],format='mixed')
df                             # dateine formate akkan

KeyError: 'date'

In [ ]:
df.dropna(subset=['Age'])     # ageill empty value varuna row drop cheyum

      Name   Age   Salary       date
0  abishek  23.0  30000.0 2020-05-21
1     sanu  25.0      NaN 2020-05-06
4    vimal  21.0  25000.0 2020-05-24

## cleaning wrong data

"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99"

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df

      Name    Age   Salary                 date
0  abishek   23.0  30000.0  2020-05-21 00:00:00
1     sanu   25.0      NaN  2020-05-06 00:00:00
2      NaN    NaN      NaN           5/21/2020'
3     manu    NaN  31000.0  2020-05-23 00:00:00
4    vimal   21.0  25000.0  2020-05-24 00:00:00
5     arun  250.0  24000.0                  NaN

### replacing value

In [ ]:
df.loc[5,'Age']=24
df

      Name   Age   Salary                 date
0  abishek  23.0  30000.0  2020-05-21 00:00:00
1     sanu  25.0      NaN  2020-05-06 00:00:00
2      NaN   NaN      NaN           5/21/2020'
3     manu   NaN  31000.0  2020-05-23 00:00:00
4    vimal  21.0  25000.0  2020-05-24 00:00:00
5     arun  24.0  24000.0                  NaN

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')

for x in df.index:
  if df.loc[x,'Age']>30:
    df.loc[x,'Age']=30
df

      Name   Age   Salary                 date
0  abishek  23.0  30000.0  2020-05-21 00:00:00
1     sanu  25.0      NaN  2020-05-06 00:00:00
2      NaN   NaN      NaN           5/21/2020'
3     manu   NaN  31000.0  2020-05-23 00:00:00
4    vimal  21.0  25000.0  2020-05-24 00:00:00
5     arun  30.0  24000.0                  NaN

### remove row

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')

for x in df.index:
  if df.loc[x,'Age']>30:
    df.drop(x,inplace=True)
df

      Name   Age   Salary                 date
0  abishek  23.0  30000.0  2020-05-21 00:00:00
1     sanu  25.0      NaN  2020-05-06 00:00:00
2      NaN   NaN      NaN           5/21/2020'
3     manu   NaN  31000.0  2020-05-23 00:00:00
4    vimal  21.0  25000.0  2020-05-24 00:00:00

## Removing Duplicate

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df

      Name    Age   Salary                 date
0  abishek   23.0  30000.0  2020-05-21 00:00:00
1     sanu   25.0      NaN  2020-05-06 00:00:00
2      NaN    NaN      NaN           5/21/2020'
3     manu    NaN  31000.0  2020-05-23 00:00:00
4    vimal   21.0  25000.0  2020-05-24 00:00:00
5     arun  250.0  24000.0                  NaN
6  abishek   23.0  30000.0  2020-05-21 00:00:00

In [ ]:
df.duplicated()  # dupicate ayittulath True kanikkum

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
df.drop_duplicates()   # duplicate ayittulath remove cheyum

      Name    Age   Salary                 date
0  abishek   23.0  30000.0  2020-05-21 00:00:00
1     sanu   25.0      NaN  2020-05-06 00:00:00
2      NaN    NaN      NaN           5/21/2020'
3     manu    NaN  31000.0  2020-05-23 00:00:00
4    vimal   21.0  25000.0  2020-05-24 00:00:00
5     arun  250.0  24000.0                  NaN

## replace() funtion

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample data 1.xlsx')
df
df.replace('vimal','vishnu')

      Name    Age   Salary                 date
0  abishek   23.0  30000.0  2020-05-21 00:00:00
1     sanu   25.0      NaN  2020-05-06 00:00:00
2      NaN    NaN      NaN           5/21/2020'
3     manu    NaN  31000.0  2020-05-23 00:00:00
4   vishnu   21.0  25000.0  2020-05-24 00:00:00
5     arun  250.0  24000.0                  NaN
6  abishek   23.0  30000.0  2020-05-21 00:00:00

In [ ]:
df.replace([23,21],'np.NaN')

      Name     Age   Salary                 date
0  abishek  np.NaN  30000.0  2020-05-21 00:00:00
1     sanu    25.0      NaN  2020-05-06 00:00:00
2      NaN     NaN      NaN           5/21/2020'
3     manu     NaN  31000.0  2020-05-23 00:00:00
4    vimal  np.NaN  25000.0  2020-05-24 00:00:00
5     arun   250.0  24000.0                  NaN
6  abishek  np.NaN  30000.0  2020-05-21 00:00:00

In [ ]:
df.replace({'Name':'sanu','Salary':31000},'NaN')   # Replace values with specific to columns

      Name    Age   Salary                 date
0  abishek   23.0  30000.0  2020-05-21 00:00:00
1      NaN   25.0      NaN  2020-05-06 00:00:00
2      NaN    NaN      NaN           5/21/2020'
3     manu    NaN      NaN  2020-05-23 00:00:00
4    vimal   21.0  25000.0  2020-05-24 00:00:00
5     arun  250.0  24000.0                  NaN
6  abishek   23.0  30000.0  2020-05-21 00:00:00

In [ ]:
df.replace(['abishek','sanu'],[100,130])

    Name    Age   Salary                 date
0    100   23.0  30000.0  2020-05-21 00:00:00
1    130   25.0      NaN  2020-05-06 00:00:00
2    NaN    NaN      NaN           5/21/2020'
3   manu    NaN  31000.0  2020-05-23 00:00:00
4  vimal   21.0  25000.0  2020-05-24 00:00:00
5   arun  250.0  24000.0                  NaN
6    100   23.0  30000.0  2020-05-21 00:00:00

## Group By..

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/airlines_flights_data (1).csv')
df

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [ ]:
grp=df.groupby('airline')
list(grp)

[('AirAsia',
           index  airline   flight source_city departure_time stops  \
  2            2  AirAsia   I5-764       Delhi  Early_Morning  zero
  18          18  AirAsia   I5-747       Delhi        Evening   one
  19          19  AirAsia   I5-747       Delhi        Evening   one
  27          27  AirAsia   I5-744       Delhi        Morning   one
  48          48  AirAsia   I5-784       Delhi        Evening   one
  ...        ...      ...      ...         ...            ...   ...
  206538  206538  AirAsia  I5-1229     Chennai          Night   one
  206539  206539  AirAsia  I5-2462     Chennai          Night   one
  206591  206591  AirAsia   I5-517     Chennai        Morning  zero
  206616  206616  AirAsia  I5-1229     Chennai          Night   one
  206617  206617  AirAsia  I5-2462     Chennai          Night   one

           arrival_time destination_city    class  duration  days_left  price
  2       Early_Morning           Mumbai  Economy      2.17          1   5956
  18      Early_Morning           Mumbai  Economy     12.25          1   5949
  19            Morning           Mumbai  Economy     16.33          1   5949
  27          Afternoon           Mumbai  Economy      5.83          1   8869
  48      Early_Morning           Mumbai  Economy     15.17          1  12539
  ...               ...              ...      ...       ...        ...    ...
  206538        Morning        Hyderabad  Economy      9.25         48   1550
  206539        Morning        Hyderabad  Economy     10.17         48   1550
  206591        Morning        Hyderabad  Economy      1.17         49   1105
  206616        Morning        Hyderabad  Economy      9.25         49   1550
  206617        Morning        Hyderabad  Economy     10.17         49   1550

  [16098 rows x 12 columns]),
 ('Air_India',
           index    airline  flight source_city departure_time stops  \
  16          16  Air_India  AI-887       Delhi  Early_Morning  zero
  17          17  Air_India  AI-665       Delhi  Early_Morning  zero
  23          23  Air_India  AI-441       Delhi        Evening   one
  37          37  Air_India  AI-453       Delhi  Early_Morning   one
  40          40  Air_India  AI-504       Delhi          Night   one
  ...        ...        ...     ...         ...            ...   ...
  300143  300143  Air_India  AI-440     Chennai  Early_Morning   one
  300144  300144  Air_India  AI-539     Chennai        Evening   one
  300145  300145  Air_India  AI-430     Chennai        Morning   one
  300146  300146  Air_India  AI-440     Chennai  Early_Morning   one
  300147  300147  Air_India  AI-569     Chennai  Early_Morning   one

         arrival_time destination_city     class  duration  days_left  price
  16          Morning           Mumbai   Economy      2.08          1   5955
  17          Morning           Mumbai   Economy      2.17          1   5955
  23            Night           Mumbai   Economy      3.75          1   5955
  37        Afternoon           Mumbai   Economy      8.83          1  11900
  40          Morning           Mumbai   Economy     11.00          1  12150
  ...             ...              ...       ...       ...        ...    ...
  300143        Night        Hyderabad  Business     17.42         49  51345
  300144      Morning        Hyderabad  Business     18.92         49  51345
  300145      Morning        Hyderabad  Business     23.08         49  51345
  300146      Morning        Hyderabad  Business     26.83         49  51345
  300147        Night        Hyderabad  Business     17.25         49  68739

  [80892 rows x 12 columns]),
 ('GO_FIRST',
           index   airline  flight source_city departure_time stops  \
  8            8  GO_FIRST  G8-334       Delhi  Early_Morning  zero
  9            9  GO_FIRST  G8-336       Delhi      Afternoon  zero
  10          10  GO_FIRST  G8-392       Delhi      Afternoon  zero
  11          11  GO_FIRST  G8-338       Delhi        Morning  zero
  20          20  GO_FIRST  G8-266       Delhi  Early_Morning   one
  ...        ...       ...     ...         ...            ...   ...
  206320  206320  GO_FIRST  G8-911     Chennai      Afternoon   one
  206352  206352  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206432  206432  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206509  206509  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206589  206589  GO_FIRST  G8-504     Chennai      Afternoon  zero

         arrival_time destination_city    class  duration  days_left  price
  8           Morning           Mumbai  Economy      2.17          1   5954
  9           Evening           Mumbai  Economy      2.25          1   5954
  10          Evening           Mumbai  Economy      2.25          1   5954
  11        Afternoon           Mumbai  Economy      2.33          1   5954
  20          Evening           Mumbai  Economy     11.75          1   5954
  ...             ...              ...      ...       ...        ...    ...
  206320        Night        Hyderabad  Economy      7.58         45   4933
  206352    Afternoon        Hyderabad  Economy      1.00         46   1105
  206432    Afternoon        Hyderabad  Economy      1.00         47   1105
  206509    Afternoon        Hyderabad  Economy      1.00         48   1105
  206589    Afternoon        Hyderabad  Economy      1.00         49   1105

  [23173 rows x 12 columns]),
 ('Indigo',
           index airline     flight source_city departure_time stops  \
  12          12  Indigo    6E-5001       Delhi  Early_Morning  zero
  13          13  Indigo    6E-6202       Delhi        Morning  zero
  14          14  Indigo     6E-549       Delhi      Afternoon  zero
  15          15  Indigo    6E-6278       Delhi        Morning  zero
  24          24  Indigo    6E-5328       Delhi        Morning  zero
  ...        ...     ...        ...         ...            ...   ...
  206612  206612  Indigo  6.00E-156     Chennai          Night  zero
  206613  206613  Indigo     6E-562     Chennai        Evening  zero
  206614  206614  Indigo    6E-6215     Chennai        Evening  zero
  206615  206615  Indigo  6.00E-193     Chennai        Evening  zero
  206650  206650  Indigo    6E-7193     Chennai  Early_Morning   one

         arrival_time destination_city    class  duration  days_left  price
  12          Morning           Mumbai  Economy      2.17          1   5955
  13        Afternoon           Mumbai  Economy      2.17          1   5955
  14          Evening           Mumbai  Economy      2.25          1   5955
  15          Morning           Mumbai  Economy      2.33          1   5955
  24          Morning           Mumbai  Economy      2.50          1   6165
  ...             ...              ...      ...       ...        ...    ...
  206612        Night        Hyderabad  Economy      1.25         49   1551
  206613      Evening        Hyderabad  Economy      1.33         49   1551
  206614      Evening        Hyderabad  Economy      1.33         49   1551
  206615        Night        Hyderabad  Economy      1.33         49   1551
  206650    Afternoon        Hyderabad  Economy      6.67         49   5410

  [43120 rows x 12 columns]),
 ('SpiceJet',
           index   airline   flight source_city departure_time stops  \
  0            0  SpiceJet  SG-8709       Delhi        Evening  zero
  1            1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
  28          28  SpiceJet  SG-8169       Delhi        Evening  zero
  38          38  SpiceJet  SG-2976       Delhi        Evening   one
  39          39  SpiceJet  SG-2976       Delhi        Evening   one
  ...        ...       ...      ...         ...            ...   ...
  205560  205560  SpiceJet   SG-731     Chennai  Early_Morning  zero
  205644  205644  SpiceJet   SG-731     Chennai  Early_Morning  zero
  205822  205822  SpiceJet   SG-731     Chennai  Early_Morning  zero
  206005  206005  SpiceJet   SG-731     Chennai  Early_Morning  zero
  206184  206184  SpiceJet   SG-731     Chennai  Early_Morning  zero

           arrival_time destination_city    class  duration  days_left  price
  0               Night           Mumbai  Economy      2.17          1   5953
  1             Morning           Mumbai  Economy      2.33          1   5953
  28              Night           Mumbai  Economy      2.33          1  10260
  38              Night           Mumbai  Economy      4.50          1  12123
  39            Morning           Mumbai  Economy     15.25          1  12123
  ...               ...              ...      ...       ...        ...    ...
  205560  Early_Morning        Hyderabad  Economy      1.25         37   1551
  205644  Early_Morning        Hyderabad  Economy      1.25         38   1106
  205822  Early_Morning        Hyderabad  Economy      1.25         40   1106
  206005  Early_Morning        Hyderabad  Economy      1.25         42   1106
  206184  Early_Morning        Hyderabad  Economy      1.25         44   1106

  [9011 rows x 12 columns]),
 ('Vistara',
           index  airline  flight source_city departure_time stops arrival_time  \
  3            3  Vistara  UK-995       Delhi        Morning  zero    Afternoon
  4            4  Vistara  UK-963       Delhi        Morning  zero      Morning
  5            5  Vistara  UK-945       Delhi        Morning  zero    Afternoon
  6            6  Vistara  UK-927       Delhi        Morning  zero      Morning
  7            7  Vistara  UK-951       Delhi      Afternoon  zero      Evening
  ...        ...      ...     ...         ...            ...   ...          ...
  300148  300148  Vistara  UK-822     Chennai        Morning   one      Evening
  300149  300149  Vistara  UK-826     Chennai      Afternoon   one        Night
  300150  300150  Vistara  UK-832     Chennai  Early_Morning   one        Night
  300151  300151  Vistara  UK-828     Chennai  Early_Morning   one      Evening
  300152  300152  Vistara  UK-822     Chennai        Morning   one      Evening

         destination_city     class  duration  days_left  price
  3                Mumbai   Economy      2.25          1   5955
  4                Mumbai   Economy      2.33          1   5955
  5                Mumbai   Economy      2.33          1   5955
  6                Mumbai   Economy      2.08          1   6060
  7                Mumbai   Economy      2.17          1   6060
  ...                 ...       ...       ...        ...    ...
  300148        Hyderabad  Business     10.08         49  69265
  300149        Hyderabad  Business     10.42         49  77105
  300150        Hyderabad  Business     13.83         49  79099
  300151        Hyderabad  Business     10.00         49  81585
  300152        Hyderabad  Business     10.08         49  81585

  [127859 rows x 12 columns])]

In [ ]:
grp.get_group('Kolkata')  #kolkata destination ayittula details mathre varu

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
20126,20126,GO_FIRST,G8-101,Delhi,Early_Morning,zero,Early_Morning,Kolkata,Economy,2.17,1,5954
20127,20127,GO_FIRST,G8-103,Delhi,Evening,zero,Night,Kolkata,Economy,2.33,1,5954
20128,20128,Indigo,6E-353,Delhi,Early_Morning,zero,Morning,Kolkata,Economy,2.25,1,5955
20129,20129,Indigo,6E-483,Delhi,Early_Morning,zero,Morning,Kolkata,Economy,2.25,1,5955
20130,20130,GO_FIRST,G8-392,Delhi,Afternoon,one,Early_Morning,Kolkata,Economy,16.00,1,5954
...,...,...,...,...,...,...,...,...,...,...,...,...
298056,298056,Vistara,UK-832,Chennai,Early_Morning,one,Evening,Kolkata,Business,12.50,49,57057
298057,298057,Vistara,UK-838,Chennai,Night,one,Evening,Kolkata,Business,22.50,49,57057
298058,298058,Vistara,UK-834,Chennai,Evening,one,Evening,Kolkata,Business,26.17,49,57057
298059,298059,Vistara,UK-838,Chennai,Night,one,Morning,Kolkata,Business,11.25,49,67137
298060,298060,Vistara,UK-834,Chennai,Evening,one,Morning,Kolkata,Business,14.92,49,67137

In [ ]:
import pandas as pd

grp=df.groupby('source_city')['price'].min()
grp

source_city
Bangalore    1603
Chennai      1105
Delhi        1998
Hyderabad    1543
Kolkata      2436
Mumbai       1890
Name: price, dtype: int64

In [ ]:
grp=df.groupby('arrival_time')
grp.get_group('Morning')

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
12,12,Indigo,6E-5001,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300138,300138,Vistara,UK-832,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.33,49,51457
300142,300142,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,16.00,49,51345
300144,300144,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,18.92,49,51345
300145,300145,Air_India,AI-430,Chennai,Morning,one,Morning,Hyderabad,Business,23.08,49,51345
300146,300146,Air_India,AI-440,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.83,49,51345

## Group operation

In [ ]:
grp=df.groupby('price').max()
grp

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
price,,,,,,,,,,,
1105,206605,Indigo,I5-517,Chennai,Night,zero,Night,Hyderabad,Economy,10.08,49
1106,206184,SpiceJet,SG-731,Chennai,Early_Morning,zero,Early_Morning,Hyderabad,Economy,1.25,44
1443,197723,Indigo,I5-821,Chennai,Night,zero,Night,Bangalore,Economy,1.50,49
1444,197278,SpiceJet,SG-4010,Chennai,Morning,zero,Morning,Bangalore,Economy,1.33,44
1526,206606,Air_India,AI-9894,Chennai,Morning,zero,Morning,Hyderabad,Economy,1.42,49
...,...,...,...,...,...,...,...,...,...,...,...
114705,270999,Vistara,UK-772,Kolkata,Morning,one,Evening,Hyderabad,Business,9.50,17
115211,277345,Vistara,UK-870,Hyderabad,Night,one,Afternoon,Mumbai,Business,16.42,3
116562,215859,Vistara,UK-809,Delhi,Evening,two_or_more,Evening,Kolkata,Business,21.08,1
117307,216096,Vistara,UK-811,Delhi,Early_Morning,two_or_more,Evening,Kolkata,Business,10.92,5
123071,261377,Vistara,UK-772,Kolkata,Morning,one,Night,Delhi,Business,13.50,3

In [ ]:
grp=df.groupby(['price','duration'])
list(grp)

[((np.int64(1105), np.float64(1.0)),
           index   airline  flight source_city departure_time stops  \
  206273  206273  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206352  206352  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206432  206432  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206509  206509  GO_FIRST  G8-504     Chennai      Afternoon  zero
  206589  206589  GO_FIRST  G8-504     Chennai      Afternoon  zero

         arrival_time destination_city    class  duration  days_left  price
  206273    Afternoon        Hyderabad  Economy       1.0         45   1105
  206352    Afternoon        Hyderabad  Economy       1.0         46   1105
  206432    Afternoon        Hyderabad  Economy       1.0         47   1105
  206509    Afternoon        Hyderabad  Economy       1.0         48   1105
  206589    Afternoon        Hyderabad  Economy       1.0         49   1105  ),
 ((np.int64(1105), np.float64(1.17)),
           index  airline     flight source_city departure_time stops  \
  203807  203807  AirAsia     I5-517     Chennai        Morning  zero
  203908  203908  AirAsia     I5-517     Chennai        Morning  zero
  204003  204003  AirAsia     I5-517     Chennai        Morning  zero
  204093  204093  AirAsia     I5-517     Chennai        Morning  zero
  204187  204187  AirAsia     I5-517     Chennai        Morning  zero
  204281  204281  AirAsia     I5-517     Chennai        Morning  zero
  204375  204375  AirAsia     I5-517     Chennai        Morning  zero
  204466  204466  AirAsia     I5-517     Chennai        Morning  zero
  204555  204555  AirAsia     I5-517     Chennai        Morning  zero
  204645  204645  AirAsia     I5-517     Chennai        Morning  zero
  204646  204646   Indigo  6.00E-269     Chennai        Morning  zero
  204736  204736  AirAsia     I5-517     Chennai        Morning  zero
  204826  204826  AirAsia     I5-517     Chennai        Morning  zero
  204916  204916  AirAsia     I5-517     Chennai        Morning  zero
  205006  205006  AirAsia     I5-517     Chennai        Morning  zero
  205099  205099  AirAsia     I5-517     Chennai        Morning  zero
  205190  205190  AirAsia     I5-517     Chennai        Morning  zero
  205282  205282  AirAsia     I5-517     Chennai        Morning  zero
  205375  205375  AirAsia     I5-517     Chennai        Morning  zero
  205376  205376   Indigo  6.00E-269     Chennai        Morning  zero
  205462  205462  AirAsia     I5-517     Chennai        Morning  zero
  205551  205551  AirAsia     I5-517     Chennai        Morning  zero
  205641  205641   Indigo     6E-495     Chennai  Early_Morning  zero
  205642  205642  AirAsia     I5-517     Chennai        Morning  zero
  205730  205730  AirAsia     I5-517     Chennai        Morning  zero
  205731  205731   Indigo  6.00E-269     Chennai        Morning  zero
  205820  205820  AirAsia     I5-517     Chennai        Morning  zero
  205912  205912  AirAsia     I5-517     Chennai        Morning  zero
  206003  206003  AirAsia     I5-517     Chennai        Morning  zero
  206092  206092  AirAsia     I5-517     Chennai        Morning  zero
  206182  206182  AirAsia     I5-517     Chennai        Morning  zero
  206274  206274  AirAsia     I5-517     Chennai        Morning  zero
  206353  206353  AirAsia     I5-517     Chennai        Morning  zero
  206433  206433  AirAsia     I5-517     Chennai        Morning  zero
  206510  206510  AirAsia     I5-517     Chennai        Morning  zero
  206590  206590   Indigo     6E-495     Chennai  Early_Morning  zero
  206591  206591  AirAsia     I5-517     Chennai        Morning  zero

           arrival_time destination_city    class  duration  days_left  price
  203807        Morning        Hyderabad  Economy      1.17         16   1105
  203908        Morning        Hyderabad  Economy      1.17         17   1105
  204003        Morning        Hyderabad  Economy      1.17         18   1105
  204093        Morning        Hyderabad  Economy      1.17         19   1105
  204187        Morning        Hyderabad  Economy      1.17         20   1105
  204281        Morning        Hyderabad  Economy      1.17         21   1105
  204375        Morning        Hyderabad  Economy      1.17         22   1105
  204466        Morning        Hyderabad  Economy      1.17         24   1105
  204555        Morning        Hyderabad  Economy      1.17         25   1105
  204645        Morning        Hyderabad  Economy      1.17         26   1105
  204646        Morning        Hyderabad  Economy      1.17         26   1105
  204736        Morning        Hyderabad  Economy      1.17         28   1105
  204826        Morning        Hyderabad  Economy      1.17         29   1105
  204916        Morning        Hyderabad  Economy      1.17         30   1105
  205006        Morning        Hyderabad  Economy      1.17         31   1105
  205099        Morning        Hyderabad  Economy      1.17         32   1105
  205190        Morning        Hyderabad  Economy      1.17         33   1105
  205282        Morning        Hyderabad  Economy      1.17         34   1105
  205375        Morning        Hyderabad  Economy      1.17         35   1105
  205376        Morning        Hyderabad  Economy      1.17         35   1105
  205462        Morning        Hyderabad  Economy      1.17         36   1105
  205551        Morning        Hyderabad  Economy      1.17         37   1105
  205641  Early_Morning        Hyderabad  Economy      1.17         38   1105
  205642        Morning        Hyderabad  Economy      1.17         38   1105
  205730        Morning        Hyderabad  Economy      1.17         39   1105
  205731        Morning        Hyderabad  Economy      1.17         39   1105
  205820        Morning        Hyderabad  Economy      1.17         40   1105
  205912        Morning        Hyderabad  Economy      1.17         41   1105
  206003        Morning        Hyderabad  Economy      1.17         42   1105
  206092        Morning        Hyderabad  Economy      1.17         43   1105
  206182        Morning        Hyderabad  Economy      1.17         44   1105
  206274        Morning        Hyderabad  Economy      1.17         45   1105
  206353        Morning        Hyderabad  Economy      1.17         46   1105
  206433        Morning        Hyderabad  Economy      1.17         47   1105
  206510        Morning        Hyderabad  Economy      1.17         48   1105
  206590  Early_Morning        Hyderabad  Economy      1.17         49   1105
  206591        Morning        Hyderabad  Economy      1.17         49   1105  ),
 ((np.int64(1105), np.float64(1.25)),
           index   airline  flight source_city departure_time stops  \
  203808  203808  GO_FIRST  G8-505     Chennai        Evening  zero
  203909  203909  GO_FIRST  G8-505     Chennai        Evening  zero
  204004  204004  GO_FIRST  G8-505     Chennai        Evening  zero
  204094  204094  GO_FIRST  G8-505     Chennai        Evening  zero
  204188  204188  GO_FIRST  G8-505     Chennai        Evening  zero
  204282  204282  GO_FIRST  G8-505     Chennai        Evening  zero
  204376  204376  GO_FIRST  G8-505     Chennai        Evening  zero
  204467  204467  GO_FIRST  G8-505     Chennai        Evening  zero
  204556  204556  GO_FIRST  G8-505     Chennai        Evening  zero
  204647  204647  GO_FIRST  G8-505     Chennai        Evening  zero
  204737  204737  GO_FIRST  G8-505     Chennai        Evening  zero
  204827  204827  GO_FIRST  G8-505     Chennai        Evening  zero
  204917  204917  GO_FIRST  G8-505     Chennai        Evening  zero
  205007  205007  GO_FIRST  G8-505     Chennai        Evening  zero
  205100  205100  GO_FIRST  G8-505     Chennai        Evening  zero
  205191  205191  GO_FIRST  G8-505     Chennai        Evening  zero
  205283  205283  GO_FIRST  G8-505     Chennai        Evening  zero
  205377  205377  GO_FIRST  G8-505     Chennai        Evening  zero
  205463  205463  GO_FIRST  G8-505     Chennai        Evening  zero
  205552  205552  GO_FIRST  G8-505     Chennai        Evening  zero
  205643  205643  GO_FIRST  G8-505     Chennai        Evening  zero
  205732  205732  GO_FIRST  G8-505     Chennai        Evening  zero
  205821  205821  GO_FIRST  G8-505     Chennai        Evening  zero
  205913  205913  GO_FIRST  G8-505     Chennai        Evening  zero
  206004  206004  GO_FIRST  G8-505     Chennai        Evening  zero
  206093  206093  GO_FIRST  G8-505     Chennai        Evening  zero
  206183  206183  GO_FIRST  G8-505     Chennai        Evening  zero

         arrival_time destination_city    class  duration  days_left  price
  203808      Evening        Hyderabad  Economy      1.25         16   1105
  203909      Evening        Hyderabad  Economy      1.25         17   1105
  204004      Evening        Hyderabad  Economy      1.25         18   1105
  204094      Evening        Hyderabad  Economy      1.25         19   1105
  204188      Evening        Hyderabad  Economy      1.25         20   1105
  204282      Evening        Hyderabad  Economy      1.25         21   1105
  204376      Evening        Hyderabad  Economy      1.25         22   1105
  204467      Evening        Hyderabad  Economy      1.25         24   1105
  204556      Evening        Hyderabad  Economy      1.25         25   1105
  204647      Evening        Hyderabad  Economy      1.25         26   1105
  204737      Evening        Hyderabad  Economy      1.25         28   1105
  204827      Evening        Hyderabad  Economy      1.25         29   1105
  204917      Evening        Hyderabad  Economy      1.25         30   1105
  205007      Evening        Hyderabad  Economy      1.25         31   1105
  205100      Evening        Hyderabad  Economy      1.25         32   1105
  205191      Evening        Hyderabad  Economy      1.25         33   1105
  205283      Evening        Hyderabad  Economy      1.25         34   1105
  205377      Evening        Hyderabad  Economy      1.25         35   1105
  205463      Evening        Hyderabad  Economy      1.25         36   1105
  205552      Evening        Hyderabad  Economy      1.25         37   1105
  205643      Evening        Hyderabad  Economy      1.25         38   1105
  205732      Evening        Hyderabad  Economy      1.25         39   1105
  205821      Evening        Hyderabad  Economy      1.25         40   1105
  205913      Evening        Hyderabad  Economy      1.25         41   1105
  206004      Evening        Hyderabad  Economy      1.25         42   1105
  206093      Evening        Hyderabad  Economy      1.25         43   1105
  206183      Evening        Hyderabad  Economy      1.25         44   1105  ),
 ((np.int64(1105), np.float64(3.92)),
           index airline  flight source_city departure_time stops arrival_time  \
  205009  205009  Indigo  6E-847     Chennai        Evening   one        Night
  205101  205101  Indigo  6E-847     Chennai        Evening   one        Night
  205284  205284  Indigo  6E-847     Chennai        Evening   one        Night
  205733  205733  Indigo  6E-847     Chennai        Evening   one        Night
  205914  205914  Indigo  6E-847     Chennai        Evening   one        Night
  206185  206185  Indigo  6E-847     Chennai        Evening   one        Night

         destination_city    class  duration  days_left  price
  205009        Hyderabad  Economy      3.92         31   1105
  205101        Hyderabad  Economy      3.92         32   1105
  205284        Hyderabad  Economy      3.92         34   1105
  205733        Hyderabad  Economy      3.92         39   1105
  205914        Hyderabad  Economy      3.92         41   1105
  206185        Hyderabad  Economy      3.92         44   1105  ),
 ((np.int64(1105), np.float64(4.0)),
           index airline   flight source_city departure_time stops arrival_time  \
  206275  206275  Indigo  6E-7261     Chennai        Morning   one    Afternoon
  206354  206354  Indigo  6E-7261     Chennai        Morning   one    Afternoon
  206434  206434  Indigo  6E-7261     Chennai        Morning   one    Afternoon
  206511  206511  Indigo  6E-7261     Chennai        Morning   one    Afternoon
  206592  206592  Indigo  6E-7261     Chennai        Morning   one    Afternoon

         destination_city    class  duration  days_left  price
  206275        Hyderabad  Economy       4.0         45   1105
  206354        Hyderabad  Economy       4.0         46   1105
  206434        Hyderabad  Economy       4.0         47   1105
  206511        Hyderabad  Economy       4.0         48   1105
  206592        Hyderabad  Economy       4.0         49   1105  ),
 ((np.int64(1105), np.float64(4.17)),
           index airline   flight source_city departure_time stops arrival_time  \
  205010  205010  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205011  205011  Indigo  6E-7149     Chennai        Evening   one        Night
  205102  205102  Indigo   6E-782     Chennai        Morning   one    Afternoon
  205103  205103  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205193  205193  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205194  205194  Indigo  6E-7149     Chennai        Evening   one        Night
  205285  205285  Indigo   6E-782     Chennai        Morning   one    Afternoon
  205286  205286  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205287  205287  Indigo  6E-7149     Chennai        Evening   one        Night
  205734  205734  Indigo   6E-782     Chennai        Morning   one    Afternoon
  205735  205735  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205736  205736  Indigo  6E-7149     Chennai        Evening   one        Night
  205823  205823  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205824  205824  Indigo  6E-7149     Chennai        Evening   one        Night
  205915  205915  Indigo   6E-782     Chennai        Morning   one    Afternoon
  205916  205916  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  205917  205917  Indigo  6E-7149     Chennai        Evening   one        Night
  206006  206006  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  206007  206007  Indigo  6E-7149     Chennai        Evening   one        Night
  206094  206094  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  206095  206095  Indigo  6E-7149     Chennai        Evening   one        Night
  206186  206186  Indigo  6E-7185     Chennai        Morning   one    Afternoon
  206187  206187  Indigo  6E-7149     Chennai        Evening   one        Night

         destination_city    class  duration  days_left  price
  205010        Hyderabad  Economy      4.17         31   1105
  205011        Hyderabad  Economy      4.17         31   1105
  205102        Hyderabad  Economy      4.17         32   1105
  205103        Hyderabad  Economy      4.17         32   1105
  205193        Hyderabad  Economy      4.17         33   1105
  205194        Hyderabad  Economy      4.17         33   1105
  205285        Hyderabad  Economy      4.17         34   1105
  205286        Hyderabad  Economy      4.17         34   1105
  205287        Hyderabad  Economy      4.17         34   1105
  205734        Hyderabad  Economy      4.17         39   1105
  205735        Hyderabad  Economy      4.17         39   1105
  205736        Hyderabad  Economy      4.17         39   1105
  205823        Hyderabad  Economy      4.17         40   1105
  205824        Hyderabad  Economy      4.17         40   1105
  205915        Hyderabad  Economy      4.17         41   1105
  205916        Hyderabad  Economy      4.17         41   1105
  205917        Hyderabad  Economy      4.17         41   1105
  206006        Hyderabad  Economy      4.17         42   1105
  206007        Hyderabad  Economy      4.17         42   1105
  206094        Hyderabad  Economy      4.17         43   1105
  206095        Hyderabad  Economy      4.17         43   1105
  206186        Hyderabad  Economy      4.17         44   1105
  206187        Hyderabad  Economy      4.17         44   1105  ),
 ((np.int64(1105), np.float64(4.33)),
           index airline   flight source_city departure_time stops arrival_time  \
  206276  206276  Indigo  6E-7252     Chennai        Evening   one        Night
  206355  206355  Indigo  6E-7252     Chennai        Evening   one        Night
  206435  206435  Indigo  6E-7252     Chennai        Evening   one        Night
  206512  206512  Indigo  6E-7252     Chennai        Evening   one        Night
  206593  206593  Indigo  6E-7252     Chennai        Evening   one        Night

         destination_city    class  duration  days_left  price
  206276        Hyderabad  Economy      4.33         45   1105
  206355        Hyderabad  Economy      4.33         46   1105
  206435        Hyderabad  Economy      4.33         47   1105
  206512        Hyderabad  Economy      4.33         48   1105
  206593        Hyderabad  Economy      4.33         49   1105  ),
 ((np.int64(1105), np.float64(4.42)),
           index airline  flight source_city departure_time stops arrival_time  \
  205195  205195  Indigo  6E-588     Chennai        Evening   one        Night
  205825  205825  Indigo  6E-588     Chennai        Evening   one        Night
  206188  206188  Indigo  6E-588     Chennai        Evening   one        Night

         destination_city    class  duration  days_left  price
  205195        Hyderabad  Economy      4.42         33   1105
  205825        Hyderabad  Economy      4.42         40   1105
  206188        Hyderabad  Economy      4.42         44   1105  ),
 ((np.int64(1105), np.float64(4.75)),
           index airline  flight source_city departure_time stops arrival_time  \
  205012  205012  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205104  205104  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205196  205196  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205288  205288  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205737  205737  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205826  205826  Indigo  6E-605     Chennai      Afternoon   one      Evening
  205918  205918  Indigo  6E-605     Chennai      Afternoon   one      Evening
  206008  206008  Indigo  6E-605     Chennai      Afternoon   one      Evening
  206096  206096  Indigo  6E-605     Chennai      Afternoon   one      Evening
  206189  206189  Indigo  6E-605     Chennai      Afternoon   one      Evening

         destination_city    class  duration  days_left  price
  205012        Hyderabad  Economy      4.75         31   1105
  205104        Hyderabad  Economy      4.75         32   1105
  205196        Hyderabad  Economy      4.75         33   1105
  205288        Hyderabad  Economy      4.75         34   1105
  205737        Hyderabad  Economy      4.75         39   1105
  205826        Hyderabad  Economy      4.75         40   1105
  205918        Hyderabad  Economy      4.75         41   1105
  206008        Hyderabad  Economy      4.75         42   1105
  206096        Hyderabad  Economy      4.75         43   1105
  206189        Hyderabad  Economy      4.75         44   1105  ),
 ((np.int64(1105), np.float64(4.83)),
           index airline   flight source_city departure_time stops arrival_time  \
  205105  205105  Indigo  6E-7208     Chennai        Morning   one    Afternoon
  205197  205197  Indigo  6E-7208     Chennai        Morning   one    Afternoon
  205289  205289  Indigo  6E-7208     Chennai        Morning   one    Afternoon
  205738  205738  Indigo  6E-7208     Chennai        Morning   one    Afternoon
  205919  205919  Indigo  6E-7208     Chennai        Morning   one    Afternoon
  206097  206097  Indigo  6E-7208     Chennai        Morning   one    Afternoon

         destination_city    class  duration  days_left  price
  205105        Hyderabad  Economy      4.83         32   1105
  205197        Hyderabad  Economy      4.83         33   1105

## Concat..

concat() fn used to concatenate 2 or more DataFrame

concat can do both vertically(axis=1) as well as horizontaly(axis=0)

In [ ]:
tcs={'id':[100,101,102,103],'name':['abishek','sanu','venu','manu'],'age':[23,20,24,22]}

cst={'id':[105,106,107,108],'name':['abi','vimal','vishnu','sooraj'],'age':[22,21,27,29]}

a=pd.DataFrame(tcs)
b=pd.DataFrame(cst)

pd.concat([a,b])

    id     name  age
0  100  abishek   23
1  101     sanu   20
2  102     venu   24
3  103     manu   22
0  105      abi   22
1  106    vimal   21
2  107   vishnu   27
3  108   sooraj   29

In [ ]:
pd.concat([a,b],ignore_index=True)        # ignore_index=True koduthal index oderil verum

    id     name  age
0  100  abishek   23
1  101     sanu   20
2  102     venu   24
3  103     manu   22
4  105      abi   22
5  106    vimal   21
6  107   vishnu   27
7  108   sooraj   29

In [ ]:
pd.concat([a,b],keys=['tcs','cst'])   #key kodukanu concat dataframe nnu

        id     name  age
tcs 0  100  abishek   23
    1  101     sanu   20
    2  102     venu   24
    3  103     manu   22
cst 0  105      abi   22
    1  106    vimal   21
    2  107   vishnu   27
    3  108   sooraj   29

In [ ]:
pd.concat([a,b],axis=1)    # concat vertically

    id     name  age   id    name  age
0  100  abishek   23  105     abi   22
1  101     sanu   20  106   vimal   21
2  102     venu   24  107  vishnu   27
3  103     manu   22  108  sooraj   29

In [ ]:
salary=pd.Series([30000,33000,35000,37000],name='salary')

pd.concat([a,salary],axis=1)                       # salary enna series add akki

    id     name  age  salary
0  100  abishek   23   30000
1  101     sanu   20   33000
2  102     venu   24   35000
3  103     manu   22   37000

## Merge...

merge 2 tables horizontally

In [ ]:
tcs={'id':[100,101,102,103],'name':['abishek','sanu','venu','manu'],'age':[23,20,24,22]}

cst={'id':[100,101,102,103],'name':['abi','vimal','vishnu','sooraj'],'age':[22,25,21,27]}

a=pd.DataFrame(tcs)
b=pd.DataFrame(cst)

pd.merge(a,b,on='id')        # id same veranam

    id   name_x  age_x  name_y  age_y
0  100  abishek     23     abi     22
1  101     sanu     20   vimal     25
2  102     venu     24  vishnu     21
3  103     manu     22  sooraj     27

In [ ]:
pd.merge(a,b,on='id',suffixes=['_1','_2'])

    id   name_1  age_1  name_2  age_2
0  100  abishek     23     abi     22
1  101     sanu     20   vimal     25
2  102     venu     24  vishnu     21
3  103     manu     22  sooraj     27

In [ ]:
pd.merge(a,b,on='id',how='outer')

    id   name_x  age_x  name_y  age_y
0  100  abishek     23     abi     22
1  101     sanu     20   vimal     25
2  102     venu     24  vishnu     21
3  103     manu     22  sooraj     27

In [ ]:
pd.merge(a,b,on='id',how='outer',indicator=True)

    id   name_x  age_x  name_y  age_y _merge
0  100  abishek     23     abi     22   both
1  101     sanu     20   vimal     25   both
2  102     venu     24  vishnu     21   both
3  103     manu     22  sooraj     27   both

## Pivot and pivot table

Pivot tables in pandas are popularly seen in MS Excel files. In python, Pivot tables of pandas dataframes can be created using the command: **pandas.pivot_table**.

You can aggregate a numeric column as a cross tabulation against two categorical columns

In [ ]:
# pivot allows to reshape the dataframe

import pandas as pd

df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Untitled spreadsheet (1).xlsx')

df.pivot(index='Name',columns='Salary')
        # name index ayittu varum salary columns ayittu varum

          Age                                         Date  \
Salary  25000 30000 31000 34000 36000                25000
Name
abi      25.0   NaN   NaN   NaN   NaN            20/5/2020
abishek   NaN  23.0   NaN   NaN   NaN                  NaN
alkku     NaN  23.0   NaN   NaN   NaN                  NaN
amal      NaN   NaN  22.0   NaN   NaN                  NaN
arun      NaN   NaN   NaN   NaN  28.0                  NaN
krishna   NaN   NaN   NaN   NaN  28.0                  NaN
manu      NaN   NaN  22.0   NaN   NaN                  NaN
sanu     25.0   NaN   NaN   NaN   NaN  2020-03-05 00:00:00
vimal     NaN   NaN   NaN  26.0   NaN                  NaN
vishnu    NaN   NaN   NaN  26.0   NaN                  NaN

                                                                        \
Salary                 30000                31000                34000
Name
abi                      NaN                  NaN                  NaN
abishek  2020-02-05 00:00:00                  NaN                  NaN
alkku    2020-06-06 00:00:00                  NaN                  NaN
amal                     NaN  2020-04-06 00:00:00                  NaN
arun                     NaN                  NaN                  NaN
krishna                  NaN                  NaN                  NaN
manu                     NaN  2020-06-05 00:00:00                  NaN
sanu                     NaN                  NaN                  NaN
vimal                    NaN                  NaN  2020-05-05 00:00:00
vishnu                   NaN                  NaN            21/5/2020


Salary                 36000
Name
abi                      NaN
abishek                  NaN
alkku                    NaN
amal                     NaN
arun     2020-09-05 00:00:00
krishna            20/9/2020
manu                     NaN
sanu                     NaN
vimal                    NaN
vishnu                   NaN

In [ ]:
df.pivot(index='Date',columns='Age',values='Salary')
         #date indax ayi age colume ayi salaride values mathre veru

Age                       22       23       25       26       28
Date
2020-02-05 00:00:00      NaN  30000.0      NaN      NaN      NaN
2020-03-05 00:00:00      NaN      NaN  25000.0      NaN      NaN
2020-04-06 00:00:00  31000.0      NaN      NaN      NaN      NaN
2020-05-05 00:00:00      NaN      NaN      NaN  34000.0      NaN
2020-06-05 00:00:00  31000.0      NaN      NaN      NaN      NaN
2020-06-06 00:00:00      NaN  30000.0      NaN      NaN      NaN
2020-09-05 00:00:00      NaN      NaN      NaN      NaN  36000.0
20/5/2020                NaN      NaN  25000.0      NaN      NaN
20/9/2020                NaN      NaN      NaN      NaN  36000.0
21/5/2020                NaN      NaN      NaN  34000.0      NaN

In [ ]:
df.pivot_table(index='Name',columns='Date')

                        Age                                          \
Date    2020-02-05 00:00:00 2020-03-05 00:00:00 2020-04-06 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                23.0                 NaN                 NaN
alkku                   NaN                 NaN                 NaN
amal                    NaN                 NaN                22.0
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                 NaN                 NaN
sanu                    NaN                25.0                 NaN
vimal                   NaN                 NaN                 NaN
vishnu                  NaN                 NaN                 NaN

                                                                     \
Date    2020-05-05 00:00:00 2020-06-05 00:00:00 2020-06-06 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                 NaN                 NaN                 NaN
alkku                   NaN                 NaN                23.0
amal                    NaN                 NaN                 NaN
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                22.0                 NaN
sanu                    NaN                 NaN                 NaN
vimal                  26.0                 NaN                 NaN
vishnu                  NaN                 NaN                 NaN

                                                                       Salary  \
Date    2020-09-05 00:00:00 20/5/2020 20/9/2020 21/5/2020 2020-02-05 00:00:00
Name
abi                     NaN      25.0       NaN       NaN                 NaN
abishek                 NaN       NaN       NaN       NaN             30000.0
alkku                   NaN       NaN       NaN       NaN                 NaN
amal                    NaN       NaN       NaN       NaN                 NaN
arun                   28.0       NaN       NaN       NaN                 NaN
krishna                 NaN       NaN      28.0       NaN                 NaN
manu                    NaN       NaN       NaN       NaN                 NaN
sanu                    NaN       NaN       NaN       NaN                 NaN
vimal                   NaN       NaN       NaN       NaN                 NaN
vishnu                  NaN       NaN       NaN      26.0                 NaN

                                                                     \
Date    2020-03-05 00:00:00 2020-04-06 00:00:00 2020-05-05 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                 NaN                 NaN                 NaN
alkku                   NaN                 NaN                 NaN
amal                    NaN             31000.0                 NaN
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                 NaN                 NaN
sanu                25000.0                 NaN                 NaN
vimal                   NaN                 NaN             34000.0
vishnu                  NaN                 NaN                 NaN

                                                                               \
Date    2020-06-05 00:00:00 2020-06-06 00:00:00 2020-09-05 00:00:00 20/5/2020
Name
abi                     NaN                 NaN                 NaN   25000.0
abishek                 NaN                 NaN                 NaN       NaN
alkku                   NaN             30000.0                 NaN       NaN
amal                    NaN                 NaN                 NaN       NaN
arun                    NaN                 NaN             36000.0       NaN
krishna                 NaN                 NaN                 NaN       NaN
manu                31000.0                 NaN                 NaN       NaN
sanu                    NaN                 NaN                 NaN       NaN
vimal                   NaN                 NaN                 NaN       NaN
vishnu                  NaN                 NaN                 NaN       NaN


Date    20/9/2020 21/5/2020
Name
abi           NaN       NaN
abishek       NaN       NaN
alkku         NaN       NaN
amal          NaN       NaN
arun          NaN       NaN
krishna   36000.0       NaN
manu          NaN       NaN
sanu          NaN       NaN
vimal         NaN       NaN
vishnu        NaN   34000.0

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Untitled spreadsheet (1).xlsx')

df.pivot_table(index='Name',columns='Date',aggfunc='sum',margins=True)

                        Age                                          \
Date    2020-02-05 00:00:00 2020-03-05 00:00:00 2020-04-06 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                23.0                 NaN                 NaN
alkku                   NaN                 NaN                 NaN
amal                    NaN                 NaN                22.0
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                 NaN                 NaN
sanu                    NaN                25.0                 NaN
vimal                   NaN                 NaN                 NaN
vishnu                  NaN                 NaN                 NaN
All                    23.0                25.0                22.0

                                                                     \
Date    2020-05-05 00:00:00 2020-06-05 00:00:00 2020-06-06 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                 NaN                 NaN                 NaN
alkku                   NaN                 NaN                23.0
amal                    NaN                 NaN                 NaN
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                22.0                 NaN
sanu                    NaN                 NaN                 NaN
vimal                  26.0                 NaN                 NaN
vishnu                  NaN                 NaN                 NaN
All                    26.0                22.0                23.0

                                                           ...  \
Date    2020-09-05 00:00:00 20/5/2020 20/9/2020 21/5/2020  ...
Name                                                       ...
abi                     NaN      25.0       NaN       NaN  ...
abishek                 NaN       NaN       NaN       NaN  ...
alkku                   NaN       NaN       NaN       NaN  ...
amal                    NaN       NaN       NaN       NaN  ...
arun                   28.0       NaN       NaN       NaN  ...
krishna                 NaN       NaN      28.0       NaN  ...
manu                    NaN       NaN       NaN       NaN  ...
sanu                    NaN       NaN       NaN       NaN  ...
vimal                   NaN       NaN       NaN       NaN  ...
vishnu                  NaN       NaN       NaN      26.0  ...
All                    28.0      25.0      28.0      26.0  ...

                     Salary                                          \
Date    2020-03-05 00:00:00 2020-04-06 00:00:00 2020-05-05 00:00:00
Name
abi                     NaN                 NaN                 NaN
abishek                 NaN                 NaN                 NaN
alkku                   NaN                 NaN                 NaN
amal                    NaN             31000.0                 NaN
arun                    NaN                 NaN                 NaN
krishna                 NaN                 NaN                 NaN
manu                    NaN                 NaN                 NaN
sanu                25000.0                 NaN                 NaN
vimal                   NaN                 NaN             34000.0
vishnu                  NaN                 NaN                 NaN
All                 25000.0             31000.0             34000.0

                                                                               \
Date    2020-06-05 00:00:00 2020-06-06 00:00:00 2020-09-05 00:00:00 20/5/2020
Name
abi                     NaN                 NaN                 NaN   25000.0
abishek                 NaN                 NaN                 NaN       NaN
alkku                   NaN             30000.0                 NaN       NaN
amal                    NaN                 NaN                 NaN       NaN
arun                    NaN                 NaN             36000.0       NaN
krishna                 NaN                 NaN                 NaN       NaN
manu                31000.0                 NaN                 NaN       NaN
sanu                    NaN                 NaN                 NaN       NaN
vimal                   NaN                 NaN                 NaN       NaN
vishnu                  NaN                 NaN                 NaN       NaN
All                 31000.0             30000.0             36000.0   25000.0


Date    20/9/2020 21/5/2020     All
Name
abi           NaN       NaN   25000
abishek       NaN       NaN   30000
alkku         NaN       NaN   30000
amal          NaN       NaN   31000
arun          NaN       NaN   36000
krishna   36000.0       NaN   36000
manu          NaN       NaN   31000
sanu          NaN       NaN   25000
vimal         NaN       NaN   34000
vishnu        NaN   34000.0   34000
All       36000.0   34000.0  312000

[11 rows x 22 columns]

## Melt..

Melt allows to transform or  reshape the data frame

In [ ]:
pd.melt(df,id_vars=['Name'])

       Name variable                value
0   abishek      Age                   23
1      sanu      Age                   25
2     vimal      Age                   26
3      manu      Age                   22
4      arun      Age                   28
5     alkku      Age                   23
6       abi      Age                   25
7    vishnu      Age                   26
8      amal      Age                   22
9   krishna      Age                   28
10  abishek   Salary                30000
11     sanu   Salary                25000
12    vimal   Salary                34000
13     manu   Salary                31000
14     arun   Salary                36000
15    alkku   Salary                30000
16      abi   Salary                25000
17   vishnu   Salary                34000
18     amal   Salary                31000
19  krishna   Salary                36000
20  abishek     Date  2020-02-05 00:00:00
21     sanu     Date  2020-03-05 00:00:00
22    vimal     Date  2020-05-05 00:00:00
23     manu     Date  2020-06-05 00:00:00
24     arun     Date  2020-09-05 00:00:00
25    alkku     Date  2020-06-06 00:00:00
26      abi     Date  2020-05-20 00:00:00
27   vishnu     Date  2020-05-21 00:00:00
28     amal     Date  2020-04-06 00:00:00
29  krishna     Date  2020-09-20 00:00:00

In [ ]:
pd.melt(df,id_vars=['Name'],value_name='count',var_name='details')

       Name details                count
0   abishek     Age                   23
1      sanu     Age                   25
2     vimal     Age                   26
3      manu     Age                   22
4      arun     Age                   28
5     alkku     Age                   23
6       abi     Age                   25
7    vishnu     Age                   26
8      amal     Age                   22
9   krishna     Age                   28
10  abishek  Salary                30000
11     sanu  Salary                25000
12    vimal  Salary                34000
13     manu  Salary                31000
14     arun  Salary                36000
15    alkku  Salary                30000
16      abi  Salary                25000
17   vishnu  Salary                34000
18     amal  Salary                31000
19  krishna  Salary                36000
20  abishek    Date  2020-02-05 00:00:00
21     sanu    Date  2020-03-05 00:00:00
22    vimal    Date  2020-05-05 00:00:00
23     manu    Date  2020-06-05 00:00:00
24     arun    Date  2020-09-05 00:00:00
25    alkku    Date  2020-06-06 00:00:00
26      abi    Date  2020-05-20 00:00:00
27   vishnu    Date  2020-05-21 00:00:00
28     amal    Date  2020-04-06 00:00:00
29  krishna    Date  2020-09-20 00:00:00

## Crosstab or contingency table

a table showing the distribution of one variable in rows and another in columns, used to study the correlation between the two variables

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/airlines_flights_data (1).csv')
df

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [ ]:
pd.crosstab(df.airline,df.destination_city)

# airlines destination nilkk ethra ennam indanu kanikkum

destination_city  Bangalore  Chennai  Delhi  Hyderabad  Kolkata  Mumbai
airline
AirAsia                3437     1516   4433       1560     2789    2363
Air_India             11959    11141  14550      12022    13043   18177
GO_FIRST               4386     1488   5509       2576     3794    5420
Indigo                 6772     6449   8133       6147     8437    7182
SpiceJet               1088     1172   2541        383     2054    1773
Vistara               23426    18602  22194      20038    19417   24182

In [ ]:
pd.crosstab(df.airline,df.destination_city,margins=True)

destination_city,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,All
airline,,,,,,,
AirAsia,3437,1516,4433,1560,2789,2363,16098
Air_India,11959,11141,14550,12022,13043,18177,80892
GO_FIRST,4386,1488,5509,2576,3794,5420,23173
Indigo,6772,6449,8133,6147,8437,7182,43120
SpiceJet,1088,1172,2541,383,2054,1773,9011
Vistara,23426,18602,22194,20038,19417,24182,127859
All,51068,40368,57360,42726,49534,59097,300153

In [ ]:
pd.crosstab(df.airline,[df.destination_city,df.price],margins=True)

destination_city Bangalore                                               ...  \
price                 1443 1444 1548 1549 1654 1755 1776 1830 1913 1933  ...
airline                                                                  ...
AirAsia                 67    0   39    0    4    0   98    0    1    0  ...
Air_India                0    0    0    0    0    0    0    1    0    0  ...
GO_FIRST                 0    0    0    0    0    0   63    0    0    0  ...
Indigo                 113    0    0    7   65  229  250    0    0    4  ...
SpiceJet                 0   14    0    0    0    0    0    0    0    0  ...
Vistara                  0    0    0    0    0    0   64    0    0    0  ...
All                    180   14   39    7   69  229  475    1    1    4  ...

destination_city Mumbai                                                   \
price            105744 106416 107216 107934 109776 110218 110936 114704
airline
AirAsia               0      0      0      0      0      0      0      0
Air_India             0      0      0      0      0      0      0      0
GO_FIRST              0      0      0      0      0      0      0      0
Indigo                0      0      0      0      0      0      0      0
SpiceJet              0      0      0      0      0      0      0      0
Vistara               2      1      2      1      1      1      1      1
All                   2      1      2      1      1      1      1      1

destination_city            All
price            115211
airline
AirAsia               0   16098
Air_India             0   80892
GO_FIRST              0   23173
Indigo                0   43120
SpiceJet              0    9011
Vistara               1  127859
All                   1  300153

[7 rows x 18839 columns]

In [ ]:
pd.crosstab(df.airline,df.destination_city,values=df.price,aggfunc=np.average)

destination_city,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai
airline,,,,,,
AirAsia,4528.320338,3429.963061,4304.907512,4087.325000,4036.795984,3544.613627
Air_India,25435.328288,25110.119379,21526.832165,21394.514141,24917.291344,23226.075315
GO_FIRST,5717.515732,5346.799731,5780.163369,4879.969720,6113.074855,5596.712546
Indigo,4974.204223,4853.033183,5452.485676,4948.608264,6203.487851,5220.648427
SpiceJet,6122.536765,5648.738908,6113.527351,5924.130548,6628.871957,6193.300620
Vistara,30632.269743,29856.281421,28544.267955,28144.143178,34111.465880,31167.251675

## DateTimeIndex

In [ ]:
import pandas as pd

df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Untitled spreadsheet (1).xlsx',parse_dates=['Date'],index_col='Date')
df
# or df.set_index('Date)

                        Name  Age  Salary
Date
2020-02-05 00:00:00  abishek   23   30000
2020-03-05 00:00:00     sanu   25   25000
2020-05-05 00:00:00    vimal   26   34000
2020-06-05 00:00:00     manu   22   31000
2020-09-05 00:00:00     arun   28   36000
2020-06-06 00:00:00    alkku   23   30000
20/5/2020                abi   25   25000
21/5/2020             vishnu   26   34000
2020-04-06 00:00:00     amal   22   31000
20/9/2020            krishna   28   36000

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv.1.csv')

df.set_index('Date')

           Duration  Pulse  Maxpulse  Calories
Date
10/2/2020        60    110       130     409.1
12/2/2020        60    117       145     479.0
12/3/2020        60    103       135     340.0
12/4/2020        45    109       175     282.4
12/5/2020        45    117       148     406.0
8/6/2020         60    102       127     300.0
8/7/2020         60    110       136     374.0
8/8/2020         45    104       134     253.3
8/9/2020         30    109       133     195.1
8/10/2020        60     98       124     269.0
8/11/2020        60    103       147     329.3
8/12/2020        60    100       120     250.7
9/13/2020        60    106       128     345.3
9/14/2020        60    104       132     379.3
9/15/2020        60     98       123     275.0
9/16/2020        60     98       120     215.2
9/17/2020        60    100       120     300.0
9/18/2020        45     90       112     301.0
9/19/2020        60    103       123     323.0

In [ ]:
dl=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv')
dl.set_index('Date')

              Open    High     Low   Close    Volume
Date
2017-01-01  115.80  116.33  114.76  115.82  20000000
2017-01-02  116.15  116.51  115.75  116.02  21000000
2017-01-03  115.85  116.45  115.23  116.15  22000000
2017-01-04  116.73  117.20  116.22  117.10  23000000
2017-01-05  117.55  118.16  117.20  118.00  25000000
2017-01-06  118.99  119.11  118.60  119.00  26000000
2017-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
dl=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv',parse_dates=['Date'],index_col='Date')

dl['2017-1-1':'2017-1-5']

              Open    High     Low   Close    Volume
Date
2017-01-01  115.80  116.33  114.76  115.82  20000000
2017-01-02  116.15  116.51  115.75  116.02  21000000
2017-01-03  115.85  116.45  115.23  116.15  22000000
2017-01-04  116.73  117.20  116.22  117.10  23000000
2017-01-05  117.55  118.16  117.20  118.00  25000000

## to_datetime

convert any string date to type datetime

In [ ]:
pd.to_datetime('5/22/2020',yearfirst=True)

Timestamp('2020-05-22 00:00:00')

## resampling with datetimeindex

In [ ]:
dl=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv',parse_dates=['Date'],index_col='Date')
dl

              Open    High     Low   Close    Volume
Date
2017-01-01  115.80  116.33  114.76  115.82  20000000
2017-01-02  116.15  116.51  115.75  116.02  21000000
2017-01-03  115.85  116.45  115.23  116.15  22000000
2017-01-04  116.73  117.20  116.22  117.10  23000000
2017-01-05  117.55  118.16  117.20  118.00  25000000
2017-01-06  118.99  119.11  118.60  119.00  26000000
2017-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
plot_data=dl.Close.resample('W').mean()
plot_data

Date
2017-01-01    115.820000
2017-01-08    117.528333
Freq: W-SUN, Name: Close, dtype: float64

## date_range()

In [ ]:
ran=pd.date_range(start='1/1/2018',end='1/07/2018',freq='D')
ran

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dl.set_index(ran,inplace=True)
dl

              Open    High     Low   Close    Volume
2018-01-01  115.80  116.33  114.76  115.82  20000000
2018-01-02  116.15  116.51  115.75  116.02  21000000
2018-01-03  115.85  116.45  115.23  116.15  22000000
2018-01-04  116.73  117.20  116.22  117.10  23000000
2018-01-05  117.55  118.16  117.20  118.00  25000000
2018-01-06  118.99  119.11  118.60  119.00  26000000
2018-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
dl['1/02/2018':'1/06/2018'].Close.mean()

np.float64(117.25399999999999)

In [ ]:
dl.asfreq('B')              # 'B' stands for Business Day frequency (i.e., Monday to Friday)

              Open    High     Low   Close    Volume
2018-01-01  115.80  116.33  114.76  115.82  20000000
2018-01-02  116.15  116.51  115.75  116.02  21000000
2018-01-03  115.85  116.45  115.23  116.15  22000000
2018-01-04  116.73  117.20  116.22  117.10  23000000
2018-01-05  117.55  118.16  117.20  118.00  25000000

In [ ]:
dl.asfreq('W')

             Open    High    Low  Close    Volume
2018-01-07  118.6  119.37  118.0  118.9  24000000

In [ ]:
dl.asfreq('D',method='pad')

              Open    High     Low   Close    Volume
2018-01-01  115.80  116.33  114.76  115.82  20000000
2018-01-02  116.15  116.51  115.75  116.02  21000000
2018-01-03  115.85  116.45  115.23  116.15  22000000
2018-01-04  116.73  117.20  116.22  117.10  23000000
2018-01-05  117.55  118.16  117.20  118.00  25000000
2018-01-06  118.99  119.11  118.60  119.00  26000000
2018-01-07  118.60  119.37  118.00  118.90  24000000

## create date range with periods

In [ ]:
tst=pd.date_range(start='01/05/2020',periods=15,freq='D')
tst

DatetimeIndex(['2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import numpy as np

num=pd.Series(np.random.randint(1,50,len(tst)),index=tst)
num

2020-01-05     6
2020-01-06    47
2020-01-07    11
2020-01-08     2
2020-01-09    19
2020-01-10    14
2020-01-11    28
2020-01-12    15
2020-01-13     1
2020-01-14    49
2020-01-15    33
2020-01-16    46
2020-01-17    47
2020-01-18    28
2020-01-19    32
Freq: D, dtype: int64

## Errors..in to_datetime()

In [ ]:
pd.to_datetime('abc')

DateParseError: Unknown datetime string format, unable to parse: abc, at position 0

In [ ]:
pd.to_datetime('abc',errors='ignore')

/tmp/ipython-input-2264533514.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  pd.to_datetime('abc',errors='ignore')

'abc'

In [ ]:
pd.to_datetime('abc',errors='coerce')     # NaT(not a time)

NaT

## custom date formate

In [ ]:
d=pd.to_datetime('15-02-2014',format='%d-%m-%Y')
d

Timestamp('2014-02-15 00:00:00')

## add a value to the date

In [ ]:
d=pd.to_datetime('15-02-2014',format='%d-%m-%Y')

d+pd.DateOffset(years=5)

Timestamp('2019-02-15 00:00:00')

In [ ]:
d+pd.DateOffset(months=5)

Timestamp('2014-07-15 00:00:00')

In [ ]:
d+pd.DateOffset(weeks=5)

Timestamp('2014-03-22 00:00:00')

In [ ]:
d+pd.DateOffset(days=5)

Timestamp('2014-02-20 00:00:00')

In [ ]:
d+pd.DateOffset(hours=5)

Timestamp('2014-02-15 05:00:00')

In [ ]:
d+pd.DateOffset(minutes=5)

Timestamp('2014-02-15 00:05:00')

## Period

In [ ]:
p=pd.Period(2020)
p.start_time

Timestamp('2020-01-01 00:00:00')

In [ ]:
p=pd.Period(2020)
p.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [ ]:
p.asfreq('M',how='start')

Period('2020-01', 'M')

## period_range()

In [ ]:
pd.period_range('2020','2021')

PeriodIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
             '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
             '2020-01-09', '2020-01-10',
             ...
             '2020-12-23', '2020-12-24', '2020-12-25', '2020-12-26',
             '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30',
             '2020-12-31', '2021-01-01'],
            dtype='period[D]', length=367)

In [ ]:
pd.period_range('2014','2018',freq='Y')

PeriodIndex(['2014', '2015', '2016', '2017', '2018'], dtype='period[Y-DEC]')

In [ ]:
pd.period_range('2014-02','2014-09',freq='Q')

PeriodIndex(['2014Q1', '2014Q2', '2014Q3'], dtype='period[Q-DEC]')

Period range as Index  period Index

In [ ]:
indx=pd.period_range('2017-05','2017-08',freq='M')

import numpy as np

num=pd.Series(np.random.randint(1,50,len(indx)),index=indx)
num

2017-05    37
2017-06    12
2017-07    39
2017-08    44
Freq: M, dtype: int64

## PeriodIndex  to DatetimeIndex and vice versa

In [ ]:
indx=pd.period_range('2017-05','2017-08',freq='M')

newIndex=indx.to_timestamp()

newIndex.to_period()

## Iterate over pandas dataframe

In [ ]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv')
df

         Date    Open    High     Low   Close    Volume
0  2017-01-01  115.80  116.33  114.76  115.82  20000000
1  2017-01-02  116.15  116.51  115.75  116.02  21000000
2  2017-01-03  115.85  116.45  115.23  116.15  22000000
3  2017-01-04  116.73  117.20  116.22  117.10  23000000
4  2017-01-05  117.55  118.16  117.20  118.00  25000000
5  2017-01-06  118.99  119.11  118.60  119.00  26000000
6  2017-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
# to print all columns names in the dataframe

for i in df:
  print(i)

Date
Open
High
Low
Close
Volume

In [ ]:
# by using items()

for column,values in df.items():
  print(column)
  print(values)

Date
0    2017-01-01
1    2017-01-02
2    2017-01-03
3    2017-01-04
4    2017-01-05
5    2017-01-06
6    2017-01-07
Name: Date, dtype: object
Open
0    115.80
1    116.15
2    115.85
3    116.73
4    117.55
5    118.99
6    118.60
Name: Open, dtype: float64
High
0    116.33
1    116.51
2    116.45
3    117.20
4    118.16
5    119.11
6    119.37
Name: High, dtype: float64
Low
0    114.76
1    115.75
2    115.23
3    116.22
4    117.20
5    118.60
6    118.00
Name: Low, dtype: float64
Close
0    115.82
1    116.02
2    116.15
3    117.10
4    118.00
5    119.00
6    118.90
Name: Close, dtype: float64
Volume
0    20000000
1    21000000
2    22000000
3    23000000
4    25000000
5    26000000
6    24000000
Name: Volume, dtype: int64

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv')
df

         Date    Open    High     Low   Close    Volume
0  2017-01-01  115.80  116.33  114.76  115.82  20000000
1  2017-01-02  116.15  116.51  115.75  116.02  21000000
2  2017-01-03  115.85  116.45  115.23  116.15  22000000
3  2017-01-04  116.73  117.20  116.22  117.10  23000000
4  2017-01-05  117.55  118.16  117.20  118.00  25000000
5  2017-01-06  118.99  119.11  118.60  119.00  26000000
6  2017-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
# by using iterrows()

for index,row in df.iterrows():
  print(index)
  print(row)

0
Date      2017-01-01
Open           115.8
High          116.33
Low           114.76
Close         115.82
Volume      20000000
Name: 0, dtype: object
1
Date      2017-01-02
Open          116.15
High          116.51
Low           115.75
Close         116.02
Volume      21000000
Name: 1, dtype: object
2
Date      2017-01-03
Open          115.85
High          116.45
Low           115.23
Close         116.15
Volume      22000000
Name: 2, dtype: object
3
Date      2017-01-04
Open          116.73
High           117.2
Low           116.22
Close          117.1
Volume      23000000
Name: 3, dtype: object
4
Date      2017-01-05
Open          117.55
High          118.16
Low            117.2
Close          118.0
Volume      25000000
Name: 4, dtype: object
5
Date      2017-01-06
Open          118.99
High          119.11
Low            118.6
Close          119.0
Volume      26000000
Name: 5, dtype: object
6
Date      2017-01-07
Open           118.6
High          119.37
Low            118.0
Close          118.9
Volume      24000000
Name: 6, dtype: object

## Map..

map is a python built-in function

In [ ]:
def square(x):
  return x*x

ab=[1,2,3,4,5]

out=list(map(square,ab))
print(out)

[1, 4, 9, 16, 25]

## map on dataframe-----applymap()

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_sample.csv')
df

         Date    Open    High     Low   Close    Volume
0  2017-01-01  115.80  116.33  114.76  115.82  20000000
1  2017-01-02  116.15  116.51  115.75  116.02  21000000
2  2017-01-03  115.85  116.45  115.23  116.15  22000000
3  2017-01-04  116.73  117.20  116.22  117.10  23000000
4  2017-01-05  117.55  118.16  117.20  118.00  25000000
5  2017-01-06  118.99  119.11  118.60  119.00  26000000
6  2017-01-07  118.60  119.37  118.00  118.90  24000000

In [ ]:
# in pandas we use applymap() function

df[['Open','Low']].applymap(square)

/tmp/ipython-input-761410671.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Open','Low']].applymap(square)

         Open         Low
0  13409.6400  13169.8576
1  13490.8225  13398.0625
2  13421.2225  13277.9529
3  13625.8929  13507.0884
4  13818.0025  13735.8400
5  14158.6201  14065.9600
6  14065.9600  13924.0000

In [ ]:
# apply with lambda function

df[['Open','Low']].applymap(lambda x:x*x)

/tmp/ipython-input-2120090669.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Open','Low']].applymap(lambda x:x*x)

         Open         Low
0  13409.6400  13169.8576
1  13490.8225  13398.0625
2  13421.2225  13277.9529
3  13625.8929  13507.0884
4  13818.0025  13735.8400
5  14158.6201  14065.9600
6  14065.9600  13924.0000

In [ ]:
df['Open'].map(lambda x:x+x)

0    231.60
1    232.30
2    231.70
3    233.46
4    235.10
5    237.98
6    237.20
Name: Open, dtype: float64

## Timezone

Creating a Datetime with Timezone

If you have a naive datetime (without timezone info), you can make it timezone-aware using the **.tz_localize()** method.

In [ ]:
# Create a naive datetime
naive_datetime = pd.to_datetime('2023-11-07 12:00:00')

# Localize it to a specific timezone (e.g., 'US/Eastern')

aware_datetime = naive_datetime.tz_localize('US/Eastern')

print(aware_datetime)

2023-11-07 12:00:00-05:00

Converting to Another Timezone

Once your datetime is timezone-aware, you can convert it to another timezone using **.tz_convert()**.

In [ ]:
# Convert to another timezone (e.g., 'UTC')

converted_datetime = aware_datetime.tz_convert('UTC')

print(converted_datetime)

2023-11-07 17:00:00+00:00

Handling Timezone-Aware and Naive Dates

A naive datetime is one that doesnt have any timezone information associated with it.

A timezone-aware datetime includes timezone information.

In [ ]:
#Naive datetime:

naive_datetime = pd.to_datetime('2023-11-07 12:00:00')

#Timezone-aware datetime:

aware_datetime = pd.to_datetime('2023-11-07 12:00:00').tz_localize('US/Eastern')

# you can check if a datetime is aware or naive:

print(naive_datetime.tzinfo)
print(aware_datetime.tzinfo)

None
US/Eastern

Working with Timezone-Aware Datetime Index

If you have a DatetimeIndex and want to assign a timezone, you can use .tz_localize() and .tz_convert() similarly:

In [ ]:
# Create a range of dates
date_range = pd.date_range('2023-11-01', periods=5, freq='D')

# Localize the date range to a timezone
localized_range = date_range.tz_localize('UTC')

# Convert to another timezone
converted_range = localized_range.tz_convert('US/Eastern')

print(localized_range)
print(converted_range)

DatetimeIndex(['2023-11-01 00:00:00+00:00', '2023-11-02 00:00:00+00:00',
               '2023-11-03 00:00:00+00:00', '2023-11-04 00:00:00+00:00',
               '2023-11-05 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')
DatetimeIndex(['2023-10-31 20:00:00-04:00', '2023-11-01 20:00:00-04:00',
               '2023-11-02 20:00:00-04:00', '2023-11-03 20:00:00-04:00',
               '2023-11-04 20:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

Handling Timezones with DataFrames

When dealing with DataFrames, you can apply time zone localization or conversion to a specific datetime column.

In [ ]:
# Example DataFrame with datetime column
df = pd.DataFrame({ 'timestamp': pd.to_datetime(['2023-11-07 12:00:00', '2023-11-08 12:00:00']),
    'data': [10, 20]})

# Localize the 'timestamp' column to 'US/Eastern'
df['timestamp'] = df['timestamp'].dt.tz_localize('US/Eastern')

print(df)

                  timestamp  data
0 2023-11-07 12:00:00-05:00    10
1 2023-11-08 12:00:00-05:00    20